extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			div.col-7
				img(src="/images/articles/rihanna.jpg", width="465", height="270", alt="Rihanna FPO")
				div(class="bar thumbnails", data-toggle="lightbox" )
					a(class="thumbnail lightbox-expand pull-right", href="/images/articles/rihanna.jpg", title="Image 1", data-description="") lightbox

				h2 Bright eyes
				p.callout
					| Perfect your eye make up with pointers from Queen
					| Latifah's make up artist, Sam Fine, by using the
					| CoverGirl Queen Collection.
				p.byline Article by Tim Snell
				p
					| <strong>FIND YOUR SHADE:</strong> Make your eyes pop by finding the shade that
					| emphasizes their color. For dark eyes, stick to grays, blues, purples and
					| greens like Cover Girl Queen Collection Eyeshadow Quads: Blue Notes or Brass
					| N Sass. Blues, purples and greens like Cover Girl Queen Collection Eyeshadow.
					| Blues, purples and greens like Cover Girl Queen Collection Eyeshadow
			div.col-5
				h3 You may also like
				ul.list-unstyled
					li
						img(class="pull-left", src="http://placehold.it/90x60", width="90", height="60", alt="FPO")
						h3(class="pull-left") I want her hair!
						p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
						a(class="view btn", href="/article/1") view
					li
						img(class="pull-left", src="http://placehold.it/90x60", width="90", height="60", alt="FPO")
						h3(class="pull-left") I want her hair!
						p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
						a(class="view btn", href="/article/1") view
					li
						img(class="pull-left", src="http://placehold.it/90x60", width="90", height="60", alt="FPO")
						h3(class="pull-left") I want her hair!
						p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
						a(class="view btn", href="/article/1") view
					li
						img(class="pull-left", src="http://placehold.it/90x60", width="90", height="60", alt="FPO")
						h3(class="pull-left") I want her hair!
						p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
						a(class="view btn", href="/article/1") view
		div.row
			div.col12
				img(src="http://placehold.it/180x120", class="pull-left", alt="FPO")
				p
					| For light eyes, brown, taupe and bronze shades will enhance your look. Check out Cover Girl Queen Collection Eyeshadow Quads: Desert Bronze or Lionqueen. Lose Eyeshadow Crease Apply concealer (Cover Girl Queen Collection Natural Hue Concealer) or foundation (Cover Girl Queen Collection All Day Flawless Foundation) over lids and dust with powder. Then, pat on your eyeshadow for a crease-free look.
		div.row
			div#preview.col-12
				img(src="/images/articles/article-big.jpg", alt="FPO")
				div(class="bar thumbnails", data-toggle="lightbox" )
					p.caption
						| <strong>Janelle Monae</strong> - Turning the event stage into the red carpet
					a(class="thumbnail lightbox-expand pull-right", href="/images/articles/article-big.jpg", title="Image 1", data-description="") lightbox
				p
					| No More Dark Circles Shimmering whites, pearls, pinks or baby blues deflect the look of dark circles around the eyes. First, pat concealer under your eyes. Next, brush on the shimmer shadow (CoverGirl Queen Collection 1-Kit Eye Shadows: Peacock) for brightening.
		div.row
			div.col-7
				img(src="http://placehold.it/465x270", width="465", height="270", alt="FPO")
			div.col-5
				p
					| For light eyes, brown, taupe and bronze shades will enhance your look. Check out Cover Girl Queen Collection Eyeshadow Quads: Desert Bronze or Lionqueen. Lose Eyeshadow Crease Apply concealer (Cover Girl Queen Collection Natural Hue Concealer) or foundation (Cover Girl Queen Collection All Day Flawless Foundation) over lids and dust with powder. Then, pat on your eyeshadow for a crease-free look. For light eyes, brown, taupe and bronze shades will enhance your look. Check out Cover Girl Queen Collection Eyeshadow Quads: Desert Bronze or Lionqueen. Lose Eyeshadow Crease Apply concealer (Cover Girl Queen Collection Natural Hue.



