extends layout

block content
    div(id='d')
        div(class='pure-g-r')
            div(class='pure-u-1-8 tile-1') test
            div(class='pure-u-1-8 tile-2') test
            div(class='pure-u-1-8 tile-3') test
            div(class='pure-u-1-8 tile-4') test
            div(class='pure-u-1-8 tile-5') test
            div(class='pure-u-1-8 tile-6') test
            div(class='pure-u-1-8 tile-7') test
            div(class='pure-u-1-8 tile-8') test
            div(class='pure-u-1-8 tile-9') test
            div(class='pure-u-1-8 tile-1') test




