extends layout

block content
    div(id='mySwipe', class='swipe')
        div(class='swipe-wrap')
            div(id="a", class="img")
              div(class="info-bg", style='display:none;')
                div(class="info")
                  h1(style='white-space:pre;')
                    | Watch the
                    | Queen Latifa Show
                  hr
                  p(style='white-space:pre;')
                    | Premiering September 16th
            div(id="b", class="img")
              div(class="info-bg", style='display:none;')
                div(class="info")
                  h1(style='white-space:pre;')
                    | Queen Latifah dishes
                    | to Hollywood Reporter
                  hr
                  p(style='white-space:pre;')
                    | about her new daytime talk show
                  a(class='watch-video', href='#')