extends layout

block content
    div(id='mySwipe', class='swipe')
        div(class='swipe-wrap')
            div(id="a", class="img")
              div(class="info-bg", style='display:none;')
                div(class="info")
                  h1(style='white-space:pre;')
                    | Watch the
                    | Queen Latifa Show
                  hr
                  p(style='white-space:pre;')
                    | The daytime tv host sits down with her first
                    | guest Michelle Obama. Watch it now!
                  a(class='watch-video', href='#') watch video
            div(id="b", class="img")
              div(class="info-bg", style='display:none;')
                div(class="info")
                  h1(style='white-space:pre;')
                    | Watch the
                    | Queen Latifa Show
                  hr
                  p(style='white-space:pre;')
                    | The daytime tv host sits down with her first
                    | guest Michelle Obama. Watch it now!
                  a(class='watch-video', href='#')
            div(id="c", class="img")
              div(class="info-bg", style='display:none;')
                div(class="info")
                  h1(style='white-space:pre;')
                    | Watch the
                    | Queen Latifa Show
                  hr
                  p(style='white-space:pre;')
                    | The daytime tv host sits down with her first
                    | guest Michelle Obama. Watch it now!
                  a(class='watch-video', href='#')