extends layout

block content
    div(class="wrapper")
        div(class='left-dock')
            img(src='/images/queen-latifah.png', width=148, height=138)
            ul(class='nav')
                li(class='living')
                    a living
                li(class='loving')
                    a loving
                li(class='learning')
                    a learning
                li(class='laughing')
                    a laughing
                li(class='latifah')
                    a latifah
        div(class='content')
            div(class='filter')
            div(id='tiles', class='container')
                div(class='tile t1')
                    img(src='/images/tile1.jpg')
                div(class='tile t2')
                    img(src='/images/tile2.jpg')
                div(class='tile t3')
                    img(src='/images/tile3.jpg')
                div(class='tile t4')
                    img(src='/images/tile4.jpg')

                div(class='tile t5')
                    img(src='/images/tile5.jpg')

                div(class='tile t6')
                    img(src='/images/tile6.jpg')

                div(class='tile t7')
                    img(src='/images/tile7.jpg')

                div(class='tile t8')
                    img(src='/images/tile8.jpg')
                div(class='tile t9')
                    img(src='/images/tile9.jpg')
                div(class='tile t10')
                    img(src='/images/tile10.jpg')
                div(class='tile t11')
                    img(src='/images/tile11.jpg')

                div(class='tile t1')
                    img(src='/images/tile1.jpg')
                div(class='tile t2')
                    img(src='/images/tile2.jpg')
                div(class='tile t3')
                    img(src='/images/tile3.jpg')
                div(class='tile t4')
                    img(src='/images/tile4.jpg')
                div(class='tile t5')
                    img(src='/images/tile5.jpg')
                div(class='tile t6')
                    img(src='/images/tile6.jpg')
                div(class='tile t7')
                    img(src='/images/tile7.jpg')
                div(class='tile t8')
                    img(src='/images/tile8.jpg')
                div(class='tile t9')
                    img(src='/images/tile9.jpg')
                div(class='tile t10')
                    img(src='/images/tile10.jpg')
                div(class='tile t11')
                    img(src='/images/tile11.jpg')


        div(class='right-dock') info



