extends layout

block content
    div(id='mySwipe', class='swipe')
        div(class='swipe-wrap')
            div(id="a", class="img")
              div(class="info-bg", style='display:none;')
                div(class="info")
                  h1(style='white-space:pre;')
                    | Hollywood
                    | Cover Girl
                  hr
                  p(style='white-space:pre;')
                    | Queen Latifah chats with The Hollywood Reporter
                    | about her new daytime talk show.
                  a(class="read-more", href="/loving/hollywood-cover-girl.html") read more
            div(id="b", class="img")
              div(class="info-bg", style='display:none;')
                div(class="info")
                  h1(style='')
                    | Hot Time In Chicago!
                  hr
                  p(style='white-space:pre;')
                    | Queen Latifah headed to Chicago this summer
                    | to meet fans, friends and explore the city
                  //a(class='watch-video', data-toggle="modal", href='#videoModal') watch video
                  a(class="read-more", href="/laughing/hot-time-in-chicago.html") read more
            div(id="c", class="img")
              div(class="info-bg", style='display:none;')
                div(class="info")
                  h1(style='white-space:pre;')
                    | Behind The
                    | Scenes
                  hr
                  p(style='white-space:pre;')
                    | Queen Latifah shares photos from
                    | the set, backstage and more!
                  a(class="read-more", href="/laughing/go-behind-the-scenes.html") read more

//-block modal
    div#videoModal.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
              span &times;
            div.sharethis
              span.st_facebook_hcount
              span.st_fblike_hcount
              span.st_twitter_hcount
              span.st_pinterest_hcount
              span.st_email_hcount
          div.modal-body
            video(id="promo", class="sublime", poster="http://qls.herokuapp.com/mov/poster.png", width="640", height="360", title="Midnight Sun", data-uid="promo", preload="none")
              source(src="http://qls.herokuapp.com/mov/latifah_promo.mp4", data-quality="hd")
              source(src="http://qls.herokuapp.com/mov/latifah_promo.webm", data-quality="hd")
          //div.modal-footer
            p video controls
