extends layout

block content
    div(class="wrapper")
        div(class='left-dock')
            img(src='/images/queen-latifah.png', width=148, height=138)
            ul(class='nav')
                li(class='living')
                    a living
                li(class='loving')
                    a loving
                li(class='learning')
                    a learning
                li(class='laughing')
                    a laughing
                li(class='latifah')
                    a latifah
        div(class='content') content
        div(class='right-dock') info



