extends layout

block content
    div.filter
        //img(src='/images/layout/filter.png')
        //img(src='/images/layout/social-bar.jpg', class='socialbar')
        div.sharethis
            span.st_facebook_hcount
            span.st_fblike_hcount
            span.st_twitter_hcount
            span.st_pinterest_hcount
            span.st_email_hcount

    div.grid.mosaicflow.clearfix
        a.mosaicflow__item(href="http://www.blogher.com/node/815579/virtual-conference/video", target="_blank")
            img(src="/images/latifah/1.jpg")
            div.description.
                BlogHer '13 Voices Of The Year
        a.mosaicflow__item(data-toggle="modal", href='#videoModal')
            img(src="/images/latifah/2.jpg", target="_blank")
            div.description.
                Live at The Hollywood Bowl
        a.mosaicflow__item(href="http://www.cbsnews.com/video/watch/?id=4993143n", target="_blank")
            img(src="/images/latifah/3.jpg")
            div.description.
                Queen Latifah took her name from something her mom told her
        a.mosaicflow__item(href="https://itunes.apple.com/us/album/the-dana-owens-album/id23915121", target="_blank")
            img(src="/images/latifah/29.jpg")
            div.description.
                Listen to Queen Latifah on iTunes!
        //-
            a.mosaicflow__item(href="http://www.nypost.com/p/entertainment/theater/gala_has_queen_for_ballet_nU5XTFnYnM49gDYisl9QPK", target="_blank")
                img(src="/images/latifah/4.jpg")
                div.description.
                    New York City Ballet Debuts With a Queen
        a.mosaicflow__item(href="http://www.deadline.com/2013/07/tca-queen-latifah-says-her-new-talk-show-wont-be-political-but-president-obama-is-welcome/", target="_blank")
            img(src="/images/latifah/5.jpg")
            div.description.
                "It's time to get this SHOW on the road!"
        a.mosaicflow__item(href="https://plus.google.com/+QueenLatifah/posts", target="_blank")
            img(src="/images/latifah/6.jpg")
            div.description.
                Photos, Videos and More!
        a.mosaicflow__item(href="https://www.facebook.com/QueenLatifah", target="_blank")
            img(src="/images/latifah/7.jpg")
            div.description.
                Photos from the Windy City!
        a.mosaicflow__item(href="http://www.bet.com/news/celebrities/2013/03/18/jada-pinkett-smith-to-executive-produce-queen-latifah-talk-show.html", target="_blank")
            img(src="/images/latifah/8.jpg")
            div.description.
                La' and Jada Pinkett Smith
        a.mosaicflow__item(href="http://www.hollywoodreporter.com/news/queen-latifahs-new-talk-show-600262", target="_blank")
            img(src="/images/latifah/9.jpg")
            div.description.
                Hollywood Cover Girl
        //-
            a.mosaicflow__item(href="https://itunes.apple.com/us/album/the-dana-owens-album/id23915121", target="_blank")
                img(src="/images/latifah/10.jpg")
                div.description.
                    Listen to The Dana Owens Album
        a.mosaicflow__item(href="https://itunes.apple.com/us/album/persona/id327581342", target="_blank")
            img(src="/images/latifah/11.jpg")
            div.description.
                Listen to the Persona Album
        a.mosaicflow__item(href="http://www.prnewswire.com/news-releases/kravitz-design-inc-to-create-and-style-show-set-for-the-queen-latifah-show-211027781.html", target="_blank")
            img(src="/images/latifah/12.jpg")
            div.description.
                Kravitz Design Inc. Creates and Styles "Big Sexy"
        a.mosaicflow__item(href="http://www.deadline.com/2013/07/tca-queen-latifah-says-her-new-talk-show-wont-be-political-but-president-obama-is-welcome/", target="_blank")
            img(src="/images/latifah/13.jpg")
            div.description.
                "It's time to get this SHOW on the road!"
        a.mosaicflow__item(href="http://www.wgci.com/main.html", target="_blank")
            img(src="/images/latifah/14.jpg")
            div.description.
                La' at Chicago 107.5 WGCI
        //-
            a.mosaicflow__item(href="http://chicago.cbslocal.com/video/9134943-queen-latifah-helps-with-the-weather-forecast/", target="_blank")
                img(src="/images/latifah/15.jpg")
                div.description.
                    La' Presents the Weather!
        a.mosaicflow__item(href="http://www.vh1.com/shows/events/do_something_awards/2013/", target="_blank")
            img(src="/images/latifah/16.jpg")
            div.description.
                Photos from Do Something Right Awards
        a.mosaicflow__item(href="http://1iota.com/Show/305/The-Queen-Latifah-Show", target="_blank")
            img(src="/images/latifah/17.jpg")
            div.description.
                Get Tickets to the Show!
        a.mosaicflow__item(href="http://www.amazon.com/Put-Your-Crown-Life-Changing-Queendom/dp/B005K5T5YW", target="_blank")
            img(src="/images/latifah/18.jpg")
            div.description.
                Read "Put on Your Crown"
        a.mosaicflow__item(href="http://www.amazon.com/Joyful-Noise/dp/B007HNPOSQ", target="_blank")
            img(src="/images/latifah/19.jpg")
            div.description.
                Watch Queen Latifah and Dolly Parton in Joyful Noise
        a.mosaicflow__item(href="http://movies.yahoo.com/person/queen-latifah/", target="_blank")
            img(src="/images/latifah/20.jpg")
            div.description.
                Learn more about Queen Latifah
        a.mosaicflow__item(href="http://moderncurves.wordpress.com/", target="_blank")
            img(src="/images/latifah/21.jpg")
            div.description.
                "Fashion is the universal language" - Tim Snell
        a.mosaicflow__item(href="http://www.andersoncooper.com/episodes/co-host-andy-cohen-steel-magnolias-cast-queen-latifah-alfre-woodard-phylicia-rashad-jill-scott/", target="_blank")
            img(src="/images/latifah/22.jpg")
            div.description.
                Anderson Cooper meets with the "Steel Magnolias" ladies
        a.mosaicflow__item(href="http://www.biography.com/people/queen-latifah-9542419", target="_blank")
            img(src="/images/latifah/23.jpg")
            div.description.
                Latifah means "delicate and sensitive"
        a.mosaicflow__item(href="http://www.sonypictures.com/tv/thequeenlatifahshow/", target="_blank")
            img(src="/images/latifah/24.jpg")
            div.description.
                The Queen Latifah Show - Sept. 16!
        a.mosaicflow__item(href="http://www.mtv.com/artists/queen-latifah/photos/2576373/", target="_blank")
            img(src="/images/latifah/25.jpg")
            div.description.
                At the 2007 BET Awards!
        a.mosaicflow__item(href="http://thejasminebrand.com/2013/02/09/pix-vibe-honors-mary-j-blige-with-festive-impact-awards-bash/", target="_blank")
            img(src="/images/latifah/26.jpg")
            div.description.
                Impact Awards Grammy Weekend 2013
        a.mosaicflow__item(href="http://www.hsn.com/shop/queen-collection-queen-collection/qe-8431", target="_blank")
            img(src="/images/latifah/27.jpg")
            div.description.
                "All smiles today on the set of HSN with Timothy Snell"
        a.mosaicflow__item(href="http://www.hollywoodbowl.com/tickets/queen-latifah-roy-ayers/2013-07-10", target="_blank")
            img(src="/images/latifah/28.jpg")
            div.description.
                Sharing the Hollywood Bowl stage with Roy Ayers and the amazing band
        a.mosaicflow__item(href="http://www.grammy.com/photos/tony-bennett-and-queen-latifah", target="_blank")
            img(src="/images/latifah/30.jpg")
            div.description.
                Happy Birthday, Tony!
        a.mosaicflow__item(href="http://www.essence.com/2011/12/12/style-file-queen-latifah/", target="_blank")
            img(src="/images/latifah/31.jpg")
            div.description.
                La' and The Glam Squad
        a.mosaicflow__item(href="https://itunes.apple.com/us/album/travlin-light/id264255113", target="_blank")
            img(src="/images/latifah/32.jpg")
            div.description.
                Listen to Trav'lin' Light
        a.mosaicflow__item(href="http://www.imdb.com/media/index/rg3505101312", target="_blank")
            img(src="/images/latifah/33.jpg")
            div.description.
                A Queen Gets a Star!
    block modal
        div#videoModal.modal.fade
          div.modal-dialog
            div.modal-content
              div.modal-header
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
                  span &times;
                div.sharethis
                  span.st_facebook_hcount
                  span.st_fblike_hcount
                  span.st_twitter_hcount
                  span.st_pinterest_hcount
                  span.st_email_hcount
              div.modal-body
                  div#youtubemodal
              //div.modal-footer
                p video controls
    script.
                var player;
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                var player;
                function onYouTubeIframeAPIReady() {
                
                player = new YT.Player('youtubemodal', {
                    height: '480',
                    width: '640',
                    videoId: 'UTx_FOt18nE'
                    });
                }

                    