extends layout

block content
    div.filter
        img(src='/images/filter.png')
        img(src='/images/social-bar.jpg', class='socialbar')

    div.grid.mosaicflow.clearfix
        div.mosaicflow__item
            img(src="/images/tile1.jpg")

        div.mosaicflow__item
            img(src="/images/tile_bg1.jpg")
            div.txt
                Queen Latifah and Flavor Unit Entertainment are teaming up with Hip-Hop artist Meek Mill for a film based on his song, "The Tony Story"

        div.mosaicflow__item
            img(src="/images/tile3.jpg")

        div.mosaicflow__item
            img(src="/images/tile4.jpg")

        div.mosaicflow__item
            img(src="/images/tile5.jpg")

        div.mosaicflow__item
            img(src="/images/tile6.jpg")

        div.mosaicflow__item
            img(src="/images/tile7.jpg")

        div.mosaicflow__item
            img(src="/images/tile1.jpg")
        div.mosaicflow__item
            img(src="/images/tile_bg1.jpg")
            div.txt
                Queen Latifah and Flavor Unit Entertainment are teaming up with Hip-Hop artist Meek Mill for a film based on his song, "The Tony Story"
        div.mosaicflow__item
            img(src="/images/tile3.jpg")
        div.mosaicflow__item
            img(src="/images/tile4.jpg")
        div.mosaicflow__item
            img(src="/images/tile5.jpg")
        div.mosaicflow__item
            img(src="/images/tile6.jpg")
        div.mosaicflow__item
            img(src="/images/tile7.jpg")
