extends layout

block content
    div(id='tiles', class='container')

        div(class='pure-g-r')
            div(class='pure-u-1-8 tile-1 tall ')
            div(class='pure-u-1-8 tile-2 tall')
            div(class='pure-u-1-8 tile-3 tall ')
            div(class='pure-u-1-8 tile-4')
            div(class='pure-u-1-8 tile-5 tall ')
            div(class='pure-u-1-8 tile-6 ')
            div(class='pure-u-1-8 tile-7 tall ')
            div(class='pure-u-1-8 tile-8')
            div(class='pure-u-1-8 tile-9 tall ')
            div(class='pure-u-1-8 tile-10')
            div(class='pure-u-1-8 tile-11')
            div(class='pure-u-1-8 tile-1 tall ')
            div(class='pure-u-1-8 tile-2 tall')
            div(class='pure-u-1-8 tile-3 tall ')
            div(class='pure-u-1-8 tile-4')
            div(class='pure-u-1-8 tile-5 ')
            div(class='pure-u-1-8 tile-6 ')
            div(class='pure-u-1-8 tile-7 tall ')
            div(class='pure-u-1-8 tile-8') 
            div(class='pure-u-1-8 tile-9 ') 
            div(class='pure-u-1-8 tile-10') 
            div(class='pure-u-1-8 tile-11') 
            div(class='pure-u-1-8 tile')
