extends layout

block content
    div.filter
        img(src='/images/layout/filter.png')
        img(src='/images/layout/social-bar.jpg', class='socialbar')

    div.grid.mosaicflow.clearfix
        div.mosaicflow__item
            img(src="/images/latifah/1.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/2.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/3.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/4.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/5.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/6.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/7.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/8.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/9.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/10.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/11.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/12.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/13.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/14.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/15.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/16.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/17.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/18.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/19.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/20.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/21.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/22.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/23.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/24.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/25.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/26.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/27.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/28.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/29.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/30.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/31.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/32.jpg")
        div.mosaicflow__item
            img(src="/images/latifah/33.jpg")
