extends layout

block content
    div.filter
        img(src='/images/layout/filter.png')
        //img(src='/images/layout/social-bar.jpg', class='socialbar')
        div.sharethis.pull-right
            span.st_facebook_hcount
            span.st_fblike_hcount
            span.st_twitter_hcount
            span.st_pinterest_hcount
            span.st_email_hcount

    div.grid.mosaicflow.clearfix
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/1.jpg")
            div.description.
                I DON’T WANT TO BE A SUPERMODEL; I WANT TO BE A ROLE MODEL.
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/2.jpg")
            div.description.
                queen latifah at the hollywood bowl
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/3.jpg")
            div.description.
                test3
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/29.jpg")
            div.description.
                test29
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/4.jpg")
            div.description.
                new york city ballet
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/5.jpg")
            div.description.
                test5
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/6.jpg")
            div.description.
                My 1st photo for The Queen Latifah Show Instagram page!
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/7.jpg")
            div.description.
                test7
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/8.jpg")
            div.description.
                Go Behind the Scenes with Queen Latifah
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/9.jpg")
            div.description.
                queen latifah chats to the hollywood reporter
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/10.jpg")
            div.description.
                The Dana Owens Album
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/11.jpg")
            div.description.
                Queen Latifah Persona
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/12.jpg")
            div.description.
                test12
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/13.jpg")
            div.description.
                test13
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/14.jpg")
            div.description.
                La' stopped by local radio stations Chicago 107.5 WGCI
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/15.jpg")
            div.description.
                Queen Latifah Helps With The Weather Forecast
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/16.jpg")
            div.description.
                test16
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/17.jpg")
            div.description.
                test17
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/18.jpg")
            div.description.
                test18
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/19.jpg")
            div.description.
                Joyful Noise!
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/20.jpg")
            div.description.
                test20
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/21.jpg")
            div.description.
                test21
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/22.jpg")
            div.description.
                test22
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/23.jpg")
            div.description.
                test23
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/24.jpg")
            div.description.
                test24
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/25.jpg")
            div.description.
                test25
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/26.jpg")
            div.description.
                Impact Awards Grammy Weekend 2013
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/27.jpg")
            div.description.
                test27
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/28.jpg")
            div.description.
                test28
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/30.jpg")
            div.description.
                Tony Bennett, Queen Latifah, Sidney Poitier
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/31.jpg")
            div.description.
                La' and The Glam Squad
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/32.jpg")
            div.description.
                test32
        a.mosaicflow__item(href="#")
            img(src="/images/latifah/33.jpg")
            div.description.
                test33
