extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			div.col-7
				div.small.preview
					img(src="/images/articles/laughing/weather/1.jpg", width="465", height="270", alt="Rihanna FPO")
					div(class="bar thumbnails", data-toggle="lightbox" )
						a(class="thumbnail lightbox-expand pull-right", href="/images/articles/laughing/weather/big/130725_lea_chi_ql_weather.jpg", title="Image 1", data-description="") lightbox

				h2 Queen Latifah helps with the weather forecast
				p.callout
					| Queen Latifah stopped by the
					a(href="http://chicago.cbslocal.com/") CBS 2
					| studio during her recent trip to Chicago and helped CBS 2 Meteorologist Megan Glaros [deliver the weather forecast.]
				p.byline Article by:
				a.author Tim Snell
			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						img(class="pull-left", src="http://placehold.it/240x140", width="120", height="70", alt="FPO")
						h3(class="pull-left") I want her hair!
						a(class="view btn", href="#") view
					li
						img(class="pull-left", src="http://placehold.it/240x140", width="120", height="70", alt="FPO")
						h3(class="pull-left") I want her hair!
						a(class="view btn", href="#") view
					li
						img(class="pull-left", src="http://placehold.it/240x140", width="120", height="70", alt="FPO")
						h3(class="pull-left") I want her hair!
						a(class="view btn", href="#") view

		div.row.alpha.omega
			div.col12
				p
					| For light eyes, brown, taupe and bronze shades will enhance your look. Check out Cover Girl Queen Collection Eyeshadow Quads: Desert Bronze or Lionqueen. Lose Eyeshadow Crease Apply concealer (Cover Girl Queen Collection Natural Hue Concealer) or foundation (Cover Girl Queen Collection All Day Flawless Foundation) over lids and dust with powder. Then, pat on your eyeshadow for a crease-free look.
		div.row
			div.col-12.

				<script type='text/javascript' src='http://CBSCHI.images.worldnow.com/interface/js/WNVideo.js?rnd=294902;hostDomain=video.chicago.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=9134943;flvUri=;partnerclipid=;adTag=Weather;advertisingZone=CBS.CHI%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script><a href="http://video.chicago.cbslocal.com" title=""></a>