extends layout

block content
    div.myContainer
        div.ads.
            <!-- begin ad tag (tile=1) -->
            <script type="text/javascript">
            //<![CDATA[
            var ord=Math.random()*10000000000000000;
            document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
            //]]>
            </script>
            <noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
            <!-- end ad tag -->

        div.sharethis.pull-right
            span.st_facebook_hcount
            span.st_fblike_hcount
            span.st_twitter_hcount
            span.st_pinterest_hcount
            span.st_email_hcount
        div.row
            div#preview.col-12
                img(src="/images/laughing/lg/130725_lau_chicago_pizza_1.jpg", width="100%")
                div(class="bar thumbnails", data-toggle="lightbox" )
                    p.caption
                        | <strong>Janelle Monae</strong> - Turning the event stage into the red carpet
                    a(class="thumbnail lightbox-expand pull-right", href="/images/laughing/lg/130725_lau_chicago_pizza_1.jpg", title="Image 1", data-description="") lightbox
        div.articles
            div.row
                div.col-6
                    img(class="pull-left", src="/images/laughing/sm/scenes.jpg", width="180", height="120", alt="FPO")
                    div
                        h3(class="pull-left") Go Behind the Scenes with Queen Latifah
                        p She shares photos from the set, backstage and more!&hellip;
                        a(class="view btn", href="/laughing/go-behind-the-scenes.html") view
                div.col-6
                    img(class="pull-left", src="/images/laughing/sm/weather.jpg", width="180", height="120", alt="FPO")
                    div
                        h3(class="pull-left") Queen Latifah helps with the weather forecast
                        p She stopped by the CBS 2 studio and helped Meteorologist Megan Glaros&hellip;
                        a(class="view btn", href="/laughing/latifah-helps-with-the-weather.html") view
            div.row
                div.col-6
                    img(class="pull-left", src="/images/laughing/sm/chicago.jpg", width="180", height="120", alt="FPO")
                    div
                        h3(class="pull-left") Hot Time in Chicago!
                        p On the road this summer, heading to Chicago to soak in the sights, sounds and smells of the Second City.&hellip;
                        a(class="view btn", href="/laughing/hot-time-in-chicago.html") view
                div.col-6
                    img(class="pull-left", src="/images/laughing/sm/scenes.jpg", width="180", height="120", alt="FPO")
                    div
                        h3(class="pull-left") Go Behind the Scenes with Queen Latifah
                        p She shares photos from the set, backstage and more!&hellip;
                        a(class="view btn", href="/laughing/go-behind-the-scenes.html") view