extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/laughing/md/diva.jpg", width="465", height="270", alt="Cristina Bianco")
					div(class="bar thumbnails", data-toggle="lightbox" )
						//a(class="thumbnail lightbox-expand pull-right", href="/images/laughing/md/Chritina-Bianco-Remarkable-Diva-Impressions_header.jpg", title="Image 1", data-description="") lightbox
				h2 Christina Bianco: Remarkable Diva Impressions
				p.callout
					| Check out the multi-talented singer/impressionist as she prances through an array of remarkably impressive performances.
				p.byline Article by:
				a.author Staff

			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/loving/mateo-rising.html")
							img(class="pull-left", src="/images/loving/sm/mateo-rising.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Mateo Rising
							p The rise of Mateo – on the verge of becoming a star.&hellip;
							//a(class="view btn", href="/loving/mateo-rising.html") view
					li
						a(href="/loving/flick-pick.html")
							img(class="pull-left", src="/images/loving/sm/flick-pick.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Flick Pick: Lee Daniel's The Butler
							p Let us know what you think of Lee Daniels' The Butler.&hellip;
							//a(class="view btn", href="/loving/flick-pick.html") view

		div.row
			div.col12
				p.copy
					| Who amongst us has been forwarded a humorous video with an email claiming “ this is like the best ever” or “OMG, watch this!”… and after watching it you feel let down and then begin to doubt your friend’s sanity?
					br
					br
					| Well, for once we have the pleasure of discovering and sharing a truly remarkable video featuring a talent who is beyond great and yes, even borders on awesome.
					br
					br
					|Christina Bianco’s voice is one of the greatest we’ve ever heard. Her ability to perfectly capture the pitch, tone and mannerisms of some of the best-known divas will leave you laughing, smiling and hopefully as amazed as we were!
					span.end Q


		div.row
			div.col-12
			div.row
				h3 Christina Bianco Impression Reel - Firework
				<iframe width="865" height="504" src="//www.youtube.com/embed/LoUTBY7aFDY" frameborder="0" allowfullscreen></iframe>
			div.row
				h3 Christina Bianco sings 'Total Eclipse Of The Heart' as Adele and 18 other divas.
				<iframe width="865" height="504" src="//www.youtube.com/embed/C3DlDPeurRw" frameborder="0" allowfullscreen></iframe>
			div.row
				h3 Christina Bianco: Broadway Divas sing "Tomorrow"
				<iframe width="865" height="504" src="//www.youtube.com/embed/9rk5ZBTLSzI" frameborder="0" allowfullscreen></iframe>
			div.row
				p
					br
					br
					a(href="ttp://www.ChristinaBianco.com") www.ChristinaBianco.com


