extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/learning/md/blogher.jpg", width="465", height="270", alt="Rihanna FPO")
					div(class="bar thumbnails", data-toggle="lightbox" )
						//a(class="thumbnail lightbox-expand pull-right", href="/images/learning/md/blogher.jpg", title="Image 1", data-description="") lightbox
				h2 BlogHer 13's Voices of the Year
				p.callout
					| Queen Latifah emcees BlogHer 2013’s Voices of the Year Community Keynote on July 26, 2013.
				p.byline Article by:
				a.author Staff
			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/laughing/latifah-helps-with-the-weather.html")
							img(class="pull-left", src="/images/laughing/sm/weather.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Queen Latifah takes over the weather
							p She stopped by the CBS 2 studio &amp; helped Meteorologist Megan&hellip;
						//a(class="view btn", href="/laughing/latifah-helps-with-the-weather.html") view
					li
						a(href="/laughing/hot-time-in-chicago.html")
							img(class="pull-left", src="/images/laughing/sm/chicago.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Hot Time in Chicago!
							p On the road this summer, heading to Chicago to soak in the sights, sounds and smells of the City&hellip;
							//a(class="view btn", href="/laughing/hot-time-in-chicago.html") view
		div.row
			div.col12
				p.copy
					| If you haven't heard of
					a(href="http://www.blogher.com/blogher-topics/blogher-conferences/blogher-conference-2013", target="_blank") BlogHer '13
					|, it's the largest gathering of female bloggers and social media junkies that takes place every summer in Chicago. One of the highlights of the conference every year is
					a(href="http://www.blogher.com/node/815579/voty", target="_blank") ‘Voices of the Year’ (VOTY)
					|, which honored and celebrated the year’s best work in Heart, Humor, Op-Ed and Inspirations from the BlogHer community.<br><br>Queen Latifah was honored to be the emcee for the
					a(href="http://www.youtube.com/watch?v=ITrKlJAKEEQ#at=4321", target="_blank") 2013 VOTY Community Keynote
					|  on July 26. She welcomed the 12 Community Keynote readers, and the 100 Voices of the Year to the stage. The conference and event spoke to everything Queen Latifah envisioned for her own daytime talk show, The Queen Latifah Show, which also promises to entertain, inspire and spark conversation.
					span.end Q
				p.copy
					| Check out Voices of the Year photos provided by our friends at
					a(href="http://www.blogher.com/", target="_blank") BlogHer '13
					|.
		div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(src="/images/learning/md/blogher1.jpg")
						div
							img(src="/images/learning/md/blogher2.jpg")
						div
							img(src="/images/learning/md/blogher3.jpg")
						div
							img(src="/images/learning/md/blogher4.jpg")
						div
							img(src="/images/learning/md/blogher5.jpg")
						div
							img(src="/images/learning/md/blogher6.jpg")
				br
				br
				br
			//div#preview.col-12
				img(src="/images/articles/article-big.jpg", alt="FPO")
				div(class="bar", data-toggle="lightbox" )
					p.caption
						| <strong>Janelle Monae</strong> - Turning the event stage into the red carpet
					a(class="thumbnail lightbox-expand pull-right", href="/images/articles/article-big.jpg", title="Image 1", data-description="") lightbox

				ul(class="thumbnails", data-toggle="lightbox" )
					li
						a(class="thumbnail", href="/images/learning/big/5MSP5218_RT.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/20130806_145008.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/GN3A5949.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/GN3A5959.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_6797.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_6828.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_7131.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/J+L-DAY1-12.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/Latifah_show_1173_0640.jpg") *