extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/learning/md/summer-read.jpg", width="465", height="270", alt="Rihanna FPO")
					div(class="bar thumbnails", data-toggle="lightbox" )
						//a(class="thumbnail lightbox-expand pull-right", href="/images/learning/md/summer-read.jpg", title="Image 1", data-description="") lightbox
				h2 Summer Read Wrap-Up
				p.callout
					| With a couple weeks left in summer, it’s not too late to pick up that must-have read. From thrillers to romance to autobiographies, this list has a li’l bit of love for everyone.
					span.end Q
				p.byline Article by:
				a.author Staff
			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/living/transitioning-summer-pieces-to-fall.html")
							img(class="pull-left", src="/images/living/sm/transitioning.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Transitioning Summer Pieces into Fall
							p She stopped by the CBS 2 studio &amp; helped Meteorologist Megan&hellip;
						//a(class="view btn", href="/living/transitioning-summer-pieces-to-fall.html") view
					li
						a(href="/loving/flick-pick-lee-daniels-the-butler.html")
							img(class="pull-left", src="/images/loving/sm/flick-pick.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Flick Pick: Lee Daniel's The Butler
							p On the road this summer, heading to Chicago to soak in the sights, sounds and smells of the City&hellip;
							//a(class="view btn", href="/loving/flick-pick-lee-daniels-the-butler.html") view
		div.row
			div.col-6
				ul.copy
					li
						a(href="http://www.amazon.com/The-Storyteller-Jodi-Picoult/dp/1439102767", target="_blank") The Storyteller
						|  by Jodi Picoult, 2013<br><br>
					li
						a(href="http://www.amazon.com/Ladies-Night-Mary-Kay-Andrews/dp/1250019672/", target="_blank") Ladies Night
						|  by Mary Kay Andrew, 2013<br><br>
					li
						a(href="http://www.amazon.com/Lets-Explore-Diabetes-David-Sedaris/dp/0316154695/", target="_blank") Let’s Explore Diabetes Through Owls
						|  by David Sedaris, 2013<br><br>
					li
						a(href="http://www.amazon.com/Tomorrow-There-Will-Be-Apricots/dp/0547759266/", target="_blank") Tomorrow Night There Will Be Apricots
						|  by Jessica Soffer, 2013<br><br>
					li
						a(href="http://www.amazon.com/This-Running-Your-Life-Essays/dp/0374533326/", target="_blank") This Is Running For Your Life
						|  by Michelle Orange, 2013<br><br>
					li
						a(href="http://www.amazon.com/Ocean-End-Lane-Novel/dp/0062255657/", target="_blank") The Ocean at the End of the Lane
						|  by Neil Gaiman, 2013<br><br>
					li
						a(href="http://www.amazon.com/Cuckoos-Calling-Robert-Galbraith/dp/0316206849/", target="_blank") The Cuckoo's Calling
						|  by J.K. Rowling, as Robert Galbraith, 2013<br><br>
					li
						a(href="http://www.amazon.com/Blue-Plate-Special-Autobiography-Appetites/dp/0385536267/", target="_blank") Blue Plate Special: An Autobiography of My Appetites
						|  by Kate Christensen, 2013<br><br>
					li
						a(href="http://www.amazon.com/Soundtrack-My-Life-Clive-Davis/dp/1476714789/", target="_blank") The Soundtrack of My Life
						|  by Clive Davis and Anthony DeCurtis, 2013<br><br>
					li
						a(href="http://www.amazon.com/Dead-Ever-After-Sookie-Stackhouse/dp/193700788X/", target="_blank") Dead Ever After: A Sookie Stackhouse Novel
						|  by Charlaine Harris, 2013<br><br>
					li
						a(href="http://www.amazon.com/Joyland-Hard-Case-Crime-Stephen/dp/1781162646/", target="_blank") Joyland
						|  by Stephen King, 2013<br><br>
			div.col-6
				ul.copy
					li
						a(href="http://www.amazon.com/American-Savage-Insights-Slights-Politics/dp/0525954104/", target="_blank") American Savage: Insights, Slights, and Fights on Faith, Sex, Love, and Politics
						|  by Dan Savage, 2013<br><br>
					li
						a(href="http://www.amazon.com/Attempting-Normal-Marc-Maron/dp/0812992873/", target="_blank") Attempting Normal
						|  by Marc Maron, 2013<br><br>
					li
						a(href="http://www.amazon.com/Can-Barely-Take-Care-Myself/dp/1451667000/", target="_blank") I Can Barely Take Care of Myself: Tales from a Happy Life Without Kids
						|  by Jen Kirkman, 2013<br><br>
					li
						a(href="http://www.amazon.com/Touch-Go-Lisa-Gardner/dp/0525953078/", target="_blank") Touch &amp; Go
						|  by Lisa Gardner, 2013<br><br>
					li
						a(href="http://www.amazon.com/Gone-Girl-Novel-Gillian-Flynn/dp/030758836X/", target="_blank") Gone Girl
						|  by Gillian Flynn, 2012<br><br>
					li
						a(href="http://www.amazon.com/Whered-You-Go-Bernadette-Novel/dp/0316204269/", target="_blank") Where’d You Go, Bernadette
						|  by Maria Semple, 2012<br><br>
					li
						a(href="http://www.amazon.com/Beautiful-Ruins-Novel-Jess-Walter/dp/0061928178/", target="_blank") Beautiful Ruins
						|  by Jess Walter, 2012<br><br>
					li
						a(href="http://www.amazon.com/Everyone-Hanging-Without-Other-Concerns/dp/0307886271/", target="_blank") Is Everyone Hanging Out Without Me? (And Other Concerns)
						|  by Mindy Kaling, 2011<br><br>
					li
						a(href="http://www.amazon.com/Bossypants-Tina-Fey/dp/0316056898/", target="_blank") Bossypants
						|  by Tina Fey, 2011<br><br>
					li
						a(href="http://www.amazon.com/Put-Your-Crown-Life-Changing-Queendom/dp/B005K5T5YW", target="_blank") Put on Your Crown: Life-Changing Moments on the Path to Queendom
						|  by Queen Latifah, 2010<br><br>
					li
						a(href="http://www.amazon.com/Hunger-Games-Trilogy-Boxed-Set/dp/0545265355/", target="_blank") The Hunger Games Trilogy
						|  by Suzanne Collins, 2008<br><br>
					li
						a(href="http://www.amazon.com/World-Mass-Market-Movie-Tie-/dp/0770437400/", target="_blank") World War Z
						|  by Max Brooks, 2006<br><br>
				//p.copy Did we miss your favorite read? Tell us your summer picks in our comment section below.
					span.end Q
		//-div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(src="/images/learning/md/5MSP5218_RT.jpg")
						div
							img(src="/images/learning/md/20130806_145008.jpg")
						div
							img(src="/images/learning/md/GN3A5949.jpg")
						//div
							img(src="/images/learning/md/GN3A5959.jpg")
						div
							img(src="/images/learning/md/IMG_6797.jpg")
						div
							img(src="/images/learning/md/IMG_6828.jpg")
						div
							img(src="/images/learning/md/J+L-DAY1-12.jpg")
						div
							img(src="/images/learning/md/Latifah_show_1173_0640.jpg")
						div
							img(src="/images/learning/md/IMG_7131.jpg")
				br
				br
				br
			//div#preview.col-12
				img(src="/images/articles/article-big.jpg", alt="FPO")
				div(class="bar", data-toggle="lightbox" )
					p.caption
						| <strong>Janelle Monae</strong> - Turning the event stage into the red carpet
					a(class="thumbnail lightbox-expand pull-right", href="/images/articles/article-big.jpg", title="Image 1", data-description="") lightbox

				ul(class="thumbnails", data-toggle="lightbox" )
					li
						a(class="thumbnail", href="/images/learning/big/5MSP5218_RT.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/20130806_145008.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/GN3A5949.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/GN3A5959.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_6797.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_6828.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_7131.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/J+L-DAY1-12.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/Latifah_show_1173_0640.jpg") *