extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/learning/md/south-central.jpg", width="465", height="270", alt="Rihanna FPO")
					div(class="bar thumbnails", data-toggle="lightbox" )
						//a(class="thumbnail lightbox-expand pull-right", href="/images/learning/md/south-central.jpg", title="Image 1", data-description="") lightbox
				h2 Shining a Spotlight On: South Central Scholars Foundation
				p.callout
					| QueenLatifah.com is shining a spotlight on everyday people who are doing extraordinary things for their communities.
				p.byline Article by:
				a.author Staff
			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/learning/homeless-to-harvard-an-incredible-true-story.html")
							img(class="pull-left", src="/images/learning/md/harvard.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Homeless to Harvard: An Incredible True Story
							p Khadijah Williams shares her journey to scholarship and success.&hellip;
						//a(class="view btn", href="/learning/homeless-to-harvard-an-incredible-true-story.html") view
					li
						a(href="/learning/shining-a-spotlight-on-career-wardrobe.html")
							img(class="pull-left", src="/images/learning/md/career-wardrobe.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Spotlight On: Career Wardrobe
							p Everyday people who are doing extraordinary things for their communities.&hellip;
							//a(class="view btn", href="/learning/shining-a-spotlight-on-career-wardrobe.html") view

		div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(src="/images/learning/md/south-central1.jpg")
						div
							img(src="/images/learning/md/south-central2.jpg")
						div
							img(src="/images/learning/md/south-central3.jpg")
						div
							img(src="/images/learning/md/south-central4.jpg")
						div
							img(src="/images/learning/md/south-central5.jpg")

		div.row
			div.col12
				p.copy
					| What they do:<br><br>
					a(href="http://www.southcentralscholars.org/", target="_blank") South Central Scholars Foundation (SCS)
					|  assists motivated and talented students from disadvantaged communities in Los Angeles through scholarships, jobs, internships and mentorship.<br><br> Who they help:<br><br> What started out as an effort to help one student has grown into a daily mission to help as many students as they can. Since 2001, SCS has supported over 770 students who have either recently graduated from college or are pursuing advanced degrees.<br><br> How they help:<br><br> The Foundation provides college outreach support, bridge scholarships, college readiness assistance, jobs, internships, peer support and mentors. SCS has distributed over $3 million in scholarships!<br><br> Want to help?<br><br> Learn more at
					a(href="http://www.southcentralscholars.org/", target="_blank") http://www.southcentralscholars.org/



				br
				br
				br
			//div#preview.col-12
				img(src="/images/articles/article-big.jpg", alt="FPO")
				div(class="bar", data-toggle="lightbox" )
					p.caption
						| <strong>Janelle Monae</strong> - Turning the event stage into the red carpet
					a(class="thumbnail lightbox-expand pull-right", href="/images/articles/article-big.jpg", title="Image 1", data-description="") lightbox

				ul(class="thumbnails", data-toggle="lightbox" )
					li
						a(class="thumbnail", href="/images/learning/big/5MSP5218_RT.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/20130806_145008.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/GN3A5949.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/GN3A5959.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_6797.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_6828.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_7131.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/J+L-DAY1-12.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/Latifah_show_1173_0640.jpg") *