extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/learning/md/harvard.jpg", width="465", height="270", alt="Rihanna FPO")
					div(class="bar thumbnails", data-toggle="lightbox" )
						//a(class="thumbnail lightbox-expand pull-right", href="/images/learning/md/harvard.jpg", title="Image 1", data-description="") lightbox
				h2 Homeless to Harvard: An Incredible True Story
				p.callout
					| Khadijah Williams shares her journey to scholarship and success.
				p.byline Article by:
				a.author Staff
			//-div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/learning/latifah-helps-with-the-weather.html")
							img(class="pull-left", src="/images/learning/sm/weather.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") helping with the weather forecast
							p She stopped by the CBS 2 studio &amp; helped Meteorologist Megan&hellip;
						//a(class="view btn", href="/learning/latifah-helps-with-the-weather.html") view
					li
						a(href="/learning/hot-time-in-chicago.html")
							img(class="pull-left", src="/images/learning/sm/chicago.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Hot Time in Chicago!
							p On the road this summer, heading to Chicago to soak in the sights, sounds and smells of the City&hellip;
							//a(class="view btn", href="/learning/hot-time-in-chicago.html") view
					li
						a(href="/learning/go-behind-the-scenes.html")
							img(class="pull-left", src="/images/learning/sm/scenes.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Behind the scenes
							p She shares photos from the set, backstage and more!&hellip;
							//a(class="view btn", href="/learning/go-behind-the-scenes.html") view
		div.row
			div.col12
				p.copy
					| Khadijah Williams did not fit the stereotype of a Harvard student. She was not from an upper-class family, she did not attend the finest private schools, she was not well connected and she was certainly not wealthy. Instead, Khadijah grew up homeless. Moving from shelter to shelter, with short stays in motels along the way, she also moved from school to school -- attending 12 different schools in 12 years.<br><br>Khadijah grew up with her mother Chantwuan and younger sister Jeanine moving from place to place, never staying put for longer than three months. And, when no shelters were available, Khadijah and her family slept in bus shelters or on the street.<br><br>But despite these seemingly insurmountable obstacles, Khadijah was determined to make a better life for herself. What she lacked in funds and societal status, Khadijah made up for with her passion for learning. She spent most of her days in the library. She learned to tune out her surroundings so she could focus on her studies and keep up with her classes at whichever school she happened to be attending.<br><br>After years of hard work and determination, it came time for Khadijah to apply for college. With a near 4.0 GPA, and graduating with honors, she applied to dozens of universities around the country and was accepted by 22 of them. However, there was only one that stood out for her -- Harvard University, a pinnacle of higher learning in the United States. Not only was she accepted, she was given a full scholarship for all four years. The four years Khadijah attended Harvard was the longest she had ever lived in one place.<br/>We sat down with Khadijah to talk to her about her remarkable story and to hear from her, in her own words, just how she did it.<br><br>When Khadjijah enters the room, the first thing one notices is that she is tall. Very tall, in fact, and poised. As she settles into her chair she exudes a calmness in her demeanor and she quietly watches everything around her. With a smart, short haircut, black glasses, and professional attire, one would never guess this young woman had ever lived on the street for a day in her life.<br><br>So, thank you for sitting down with us. I think your story is truly inspirational. You’re a prime example of someone who has always believed in themselves and you have the power to change the course of your life. What advice do you give to others, young and old, about not giving up on their dreams?<br><br>I would say, first of all, look at anyone famous, I don’t care who it is, whether it’s Bill Gates or Queen Latifah or whatever, anybody, and, you know, I’m sure you would find, if you would find a biography on them, you’re going to see something like "Oh, I would thank XYZ," this person or this person, my mom, and the point of that is that nobody does it alone. So do not go into trying to change your life thinking that, like "Oh if I can’t do it by myself I must be a failure." NO! Nobody does it alone. Especially if you are under-resourced, it doesn’t matter who you are, but if you have my background or something similar, it’s important to have that support network because that is what is going to help you succeed. Do not be afraid to reach out for help, it is not a sign of weakness.  Everyone needs a support system. It’s just that people have different kinds of support systems, depending on what kind of resources they have available to them.<br><br>And the second thing I would say is for the people who are helping, the people who are inspired by my story, like regular people, people like my host mother. Her name is Rita. She is a graduate school associate dean. She’s not like a superhero or anything, and then this couple, the Londons, [who] started this organization. They’re just living a typical suburban lifestyle. They saw a need and they used their resources, and the point is they are not superhuman people.  But they had such an influence on my life and without them I wouldn’t be where I was. So I would tell people who are inspired by me to not underestimate what they can do to help somebody. They can actually do a lot and it’s really important that they help out. They have more resources than they think they do to be supportive. So that’s what I would say.<br><br>So it’s actually taking the whole concept, which is a very American motto  of pulling oneself up by one’s bootstraps, which may be great, but also knowing when to have somebody else help you to pull yourself up. It’s like you said, it’s not a sign of weakness, it’s actually a sign of strength to be able to say, "Hey, I can’t do this alone, I need some help here."<br><br>Yeah, and the thing is, the thing that is interesting about "pull you up by your bootstraps" is that people don’t have bootstraps, they don’t even have shoes, then what are you supposed to do? You have nothing to pull yourself up.<br><br>It’s like, "Hey, I need some shoes over here."<br><br>Exactly. And also the other way to think about it too is that there are ladders. There is the top of the ladder, which is like the American Dream or whatever and like everyone has the same ladder and all some people need to do is just climb the rungs because they are all available. For some people it’s missing two, three rungs, sometimes it’s broken in half or something and you have the same ladder, but you are going to need different support depending on the shape of your ladder, and so if you’re missing rungs, of course you’re going to want someone to reach down and help pull you up, right?<br><br>Or have someone give you a boost up?<br><br>Exactly. They are not going expect you to climb through air. That’s another way I think about it, too.<br><br>So, what lessons do you feel you’ve taken with you since graduating from Harvard and entered "The Real World" that have served you best?<br><br>Adulthood is expensive, (laughs) and that has really been communicated to me, the importance of saving and being frugal, like I do not need those pair of shoes. It’s - no matter how many times someone tells you, you’re not going to fully know it until you get that first sticker shock. Like, I look at my paycheck and say, "Oooh! That’s a lot of money!" It’s more than I’ve ever seen in one paycheck, but then I look at rent, I look at health insurance and all that, it’s like "Oh my God! Oh my goodness! I don’t have that much money!" Even though I make a good income, and the thing is there are just some things that you need to learn by experience and it’s all just figuring out what those things are. I mean there are some things you can learn without learning the hard way, but there are some things that you need to learn through experience, so it’s good to know yourself and know what are those things so you don’t end up falling on your face too much. You will fall, but you try to make it a soft landing and less of a [smacks hands] plop. So that was one lesson.<br><br>The second thing I learned is that I got to college, I graduated and everything and it seems that everything should be easy right now, but the thing is, it’s important to know how everything that happens to you in your past affects you in the future. Because it’s easy to think that "Oh, since I’m successful, everything’s going to be like blue skies," and it’s like, "No. That’s not the case." It’s really important to know yourself and understand what your triggers are, how some past event affected you, because that really does carry over to how you do things in your future. So, it’s really important to know yourself, because for me, being homeless, there are things around social interaction, around trusting people that I’m still dealing with now because I grew up homeless. Now I don’t have to do everything on my own, like when I was growing up, and so if you don’t understand looking back at your past and learn how it is affecting you, then you’ll end up making the same mistakes and not really moving forward, so it’s really important to do a lot of introspection.<br><br>So, you have a new career. Congratulations!<br><br>(Laughs) I’m gainfully employed. I’m a project manager at a technology firm.<br><br>What does that mean?<br><br>Basically what that means is that there are lots of things that need to be done, each that have different priority levels, and my job is to make sure that my supervisor’s priorities are moved to the top of the list and that they get done. And I have to talk to different people, I have to manage people’s schedules, I have to see what is happening so that a particular task that my boss wants done, what is being done, when is it being done and is it being done under budget? So that’s my job.<br><br>So, looking back, would you have done anything differently?<br><br>That’s a really good question. I don’t know. I guess a lot of what I’ve done has been reactionary, yes? It’s like, growing up, even though I love school, growing up, it was definitely also a reaction to not wanting to be homeless and being in that environment. A lot of my fear and anxiety was reacting to my own perceptions about me as a homeless person and how people viewed me and I guess if I had the foresight that I have now, and foresight is always 20/20, I would have been more proactive about things and not had my emotions and conceptions about my insecurities influence my actions. I feel like there are a lot of things I could have done, I think, at Harvard, if I weren’t so scared. I was still going through that. I feel like a lot of things I did, and to a lesser extent, I’m still doing things out of fear, and I would like to have let go of that more. So, I think that’s how I answer that.<br><br>So, speaking of ahead, where do you see yourself in two years?<br><br>Well, my ideal job would be basically telling college and universities how to do their jobs in terms of how to get a more diverse core of students that actually have them not just graduate, but thrive.<br><br>Sounds like a role in an administrative position. Perhaps in the government?<br><br>Yeah! I mean it could be nonprofit, it could be working at a university, it could be influencing policy. What I still don’t know is what way I want to do that, but I basically what I want to do is have my personal experience, because the thing is those positions come from the perspective where the experience of minority, low-income students is very lacking because of how the pipeline works. It’s just very hard to have someone of my background get to that point. So I want to use that experience, plus whatever knowledge I gained about the education system, basically work experience and kind of put that together into an awesome package of like, of like&hellip;<br><br>Awesomeness?<br><br>Yeah!

					span.end Q
		div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(src="/images/learning/md/harvard1.jpg")
						div
							img(src="/images/learning/md/harvard2.jpg")
				br
				br
				br
			//div#preview.col-12
				img(src="/images/articles/article-big.jpg", alt="FPO")
				div(class="bar", data-toggle="lightbox" )
					p.caption
						| <strong>Janelle Monae</strong> - Turning the event stage into the red carpet
					a(class="thumbnail lightbox-expand pull-right", href="/images/articles/article-big.jpg", title="Image 1", data-description="") lightbox

				ul(class="thumbnails", data-toggle="lightbox" )
					li
						a(class="thumbnail", href="/images/learning/big/5MSP5218_RT.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/20130806_145008.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/GN3A5949.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/GN3A5959.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_6797.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_6828.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_7131.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/J+L-DAY1-12.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/Latifah_show_1173_0640.jpg") *