extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			div#preview.col-12
				img(src="/images/learning/md/summer-read.jpg", width="865", height="504")
				div(class="bar thumbnails", data-toggle="lightbox" )
					p.caption
						| <strong>Summer Read Wrap-up</strong> - From thrillers to romance to autobiographies, a li’l bit of love for everyone.
					//a(class="thumbnail lightbox-expand pull-right", href="/images/learning/md/summer-read.jpg", title="Image 1", data-description="") lightbox
		div.articles
			div.row
				div.col-6
					img(class="pull-left", src="/images/learning/md/south-central.jpg", width="180", height="120", alt="FPO")
					h3(class="pull-left") Spotlight On: South Central Scholars Foundation
					p Everyday people who are doing extraordinary things for their communities.&hellip;
					a(class="view btn", href="/learning/shining-a-spotlight-on-south-central-scholars-foundation.html") view
				div.col-6
					img(class="pull-left", src="/images/learning/md/harvard.jpg", width="180", height="120", alt="FPO")
					h3(class="pull-left") Homeless to Harvard: An Incredible True Story
					p Khadijah Williams shares her journey to scholarship and success.&hellip;
					a(class="view btn", href="/learning/homeless-to-harvard-an-incredible-true-story.html") view
			div.row
				div.col-6
					img(class="pull-left", src="/images/learning/md/blogher.jpg", width="180", height="120", alt="FPO")
					h3(class="pull-left") BlogHer 13's Voices of the Year
					p Queen Latifah emcees BlogHer 2013’s Voices of the Year Community Keynote&hellip;
					a(class="view btn", href="/learning/blogher-13-voices-of-the-year.html") view
				div.col-6
					img(class="pull-left", src="/images/learning/md/do-something.jpg", width="180", height="120", alt="FPO")
					h3(class="pull-left") Queen Latifah Awards LL Cool J
					p Queen Latifah presented her friend LL Cool J with his award for his involvement&hellip;
					a(class="view btn", href="/learning/queen-latifah-awards-ll-cool-j.html") view
			div.row
				div.col-6
					img(class="pull-left", src="/images/learning/md/save-money.jpg", width="180", height="120", alt="FPO")
					h3(class="pull-left") $ave Money — Go Green!
					p You can do your part for the environment, and put a little cash back in your pocket with these quick tips.&hellip;
					a(class="view btn", href="/learning/save-money-go-green.html") view
				div.col-6
					img(class="pull-left", src="/images/learning/md/career-wardrobe.jpg", width="180", height="120", alt="FPO")
					h3(class="pull-left") Spotlight On: Career Wardrobe
					p Everyday people who are doing extraordinary things for their communities.&hellip;
					a(class="view btn", href="/learning/shining-a-spotlight-on-career-wardrobe.html") view