extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/learning;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/learning;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/learning;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/learning/md/save-money.jpg", width="465", height="270", alt="Rihanna FPO")
					div(class="bar thumbnails", data-toggle="lightbox" )
						//a(class="thumbnail lightbox-expand pull-right", href="/images/learning/md/save-money.jpg", title="Image 1", data-description="") lightbox
				h2 Save Money &mdash; Go Green!
				p.callout
					| You can do your part for the environment, &amp; put a lil' cash back in your pocket with these quick tips.
				p.byline Article by:
				a.author Staff
			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/living/how-to-buy-on-a-budget.html")
							img(class="pull-left", src="/images/living/sm/budget.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") How to buy on a budget, without looking like it
							p You don’t have to spend a million to look like a million bucks! Here are three easy tips.&hellip;
						//a(class="view btn", href="/learning/latifah-helps-with-the-weather.html") view

		div.row
			div.col12
				p.copy
					| Save the Earth! Go Green! We hear these calls to action daily- but many think it’s just too expensive and time-consuming to help the environment. But living greener by virtue is about doing more with less &mdash; which often leads to big savings. Paige Wolf, author of
					a(href="http://www.spitthatoutthebook.com/", target="_blank") Spit That Out! The Overly Informed Parent's Guide to Raising Children in the Age of Environmental Guilt
					|, offers a few tips on how to reduce, reuse, and recycle your way to rewards that go beyond helping the planet&hellip; it can help your bottom line!<br><br>
		div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(src="/images/learning/md/save-money1.jpg")
				p.copy
					| Photo source:
					a(href="http://www.flickr.com/photos/68751915@N05/6848822477/in/photostream/", target="_blank") flickr.com / 401(k) 2012

		div.row
			div.col12
				p.copy
					| 1. Buy Used<br><br> Of course, the best way to save money and go green is to simply buy and use less stuff! But inevitably you will need a vacuum cleaner or winter coat. Fortunately, it is easier than ever to find what you need used and save a bundle. Check Craigslist.org, Ebay, Freecycle.org, and local yard sales.<br><br> 2. Borrow<br><br> Make use of your local library where you can even rent e-book downloads online. Join online neighborhood bulletin boards where strollers and baby clothes rotate around the community.<br><br> 3. Walk, bike, or use public transit<br><br> Cut fuel emissions and road rage. You do something good for your health as well as the planet and your wallet every time you walk or bike. Public transit is often a more affordable commuter option than single car driving and will reduce gas use and emissions.<br><br> 4. Stop buying bottled water<br><br> Studies have shown that bottled water is not safer than municipal tap water. In fact, there are stricter regulations on tap water, which is monitored by the EPA, than on bottled water, which is regulated by the FDA. Also, more than 25% of bottled water comes from a municipal supply — at 1,000 times the price. Unless you are living in a community with a questionable water supply, using a simple sink or pitcher filter will provide you with unlimited drinking water without the packaging or price tag.<br><br> 5. Buy in bulk<br><br> Save money and reduce packaging on items you frequently use. You can also save money and packaging by utilizing the bulk bins at many supermarkets for spices, nuts, grains, and coffee. Go one step greener and bring your own refillable container.<br><br> 6. Invest in high-quality products.<br><br> One well-made jacket will take you farther than several cheap, trendy pieces. Cheap shoes lose their novelty after the soles wear after a walk around the corner. If you find yourself frequently replacing an item, consider investing in a better quality model.<br><br> 7. Make Money Recycling<br><br> That’s right — you don’t just save money going green, you can actually make money. Get cash back for your used cell phones and electronics. Sites like Gazelle.com will pay for your used phones and other electronics. Get $2 per used ink cartridge at
					a(href="http://www.staples.com/sbd/cre/products/ink-recycle/index.html", target="_blank") Staples
					|. Your community may also offer monetary rewards for curbside recycling through RecycleBank.com.<br><br> 8. Make your own green cleaning products<br><br> Don’t spend money on conventional cleaning products, which often contain hazardous chemicals. You also cut costs and packaging when you make your own simple and effective cleaning solutions from pantry ingredients like vinegar, baking soda, and lemon.<br><br> 9. Reduce paper use in and out of the office.<br><br> When printing paper documents, use both sides, put your printer on draft mode, and create the most efficient printing mode by
					a(href="http://www.changethemargins.com/", target="_blank") reducing paper margins
					|  and using the
					a(href="http://www.printfriendly.com/", target="_blank") Print Friendly bookmark
					|. Some stuff we get we don’t even want — like junk mail! Put a stop to as much junk mail as you can with free services like
					a(href="http://optoutprescreen.com", target="_blank") optoutprescreen.com
					|  and
					a(href="http://catalogchoice.org", target="_blank") catalogchoice.org
					|.  Or use the
					a(href="http://paperkarma.com", target="_blank") PaperKarma app
					|  which unsubscribes you from catalogs and other junk mail just by snapping a photo with your phone. Save money and paper by switching to paperless billing. At almost 50 cents a pop, stamps aren’t cheap. You will also save time writing and mailing all those checks.<br><br> 10. Reduce Energy Use<br><br> It isn’t easy to raise and lower your thermostat during extreme weather. But insulating your home can significantly reduce heating and air conditioning costs. Insulating the top floor of my home has created tremendous energy savings for us. But if you can’t afford professional insulation, try sealing cracks around windows and doors with cheap sealant strips and use curtains and blinds with thermal backing. And if you haven’t made the switch to CFL lightbulbs, that is one of the easiest things you can do to save money and energy. Oh, and remember what your mother said and turn off the lights when you leave the room.
					span.end Q

				br
				br
			p.copy
				| Paige Wolf is a publicist, author, and green living expert who uses her media savvy and personal moxie to promote manageable eco-chic living.<br><br> Paige is the owner of
				a(href="http://www.paigewolf.com/", target="_blank") Paige Wolf Media and Public Relations
				|, a B Corporation-certified eco-friendly PR firm focused on sustainable clientele, and the author of
				a(href="http://www.spitthatoutthebook.com/", target="_blank") Spit That Out! The Overly Informed Parent's Guide to Raising Children in the Age of Environmental Guilt
				|. She lives in Philadelphia with her husband, two children, and American Hairless Terrier. Visit www.spitthatoutthebook.com for her blog on making green living practical, manageable, and affordable. Follow her on Twitter at
				a(href="http://twitter.com/paigewolf", target="_blank") @paigewolf
				|,
				a(href="http://facebook.com/spitthatout", target="_blank") facebook.com/spitthatout
				| , and
				a(href="http://pinterest.com/paigewolf", target="_blank") pinterest.com/paigewolf
				|.
				br
				br
				br
			//div#preview.col-12
				img(src="/images/articles/article-big.jpg", alt="FPO")
				div(class="bar", data-toggle="lightbox" )
					p.caption
						| <strong>Janelle Monae</strong> - Turning the event stage into the red carpet
					a(class="thumbnail lightbox-expand pull-right", href="/images/articles/article-big.jpg", title="Image 1", data-description="") lightbox

				ul(class="thumbnails", data-toggle="lightbox" )
					li
						a(class="thumbnail", href="/images/learning/big/5MSP5218_RT.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/20130806_145008.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/GN3A5949.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/GN3A5959.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_6797.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_6828.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/IMG_7131.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/J+L-DAY1-12.jpg") *
					li
						a(class="thumbnail", href="/images/learning/big/Latifah_show_1173_0640.jpg") *