extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/living/md/how-to-buy-on-a-budget-without-looking-like-it_header.jpg", width="465", alt="How to Buy on a Budget")
					div(class="bar thumbnails", data-toggle="lightbox" )
						//a(class="thumbnail lightbox-expand pull-right", href="/images/laughing/md/image-1.jpg", title="Image 1", data-description="") lightbox
				h2 How to Buy on a Budget, Without Looking Like It
				p.callout
					| You don’t have to spend a million bucks to look like a million bucks! Here are three easy tips.
				p.byline Article by:
				a.author Vittoria Woodill
				p Creator of the Lifestyle Confidence Blog, 
					a(href="http://www.polished4pennies.com", target="_blank") Polished for Pennies
			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/laughing/latifah-helps-with-the-weather.html")
							img(class="pull-left", src="/images/laughing/sm/weather.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") helping with the weather forecast
							p She stopped by the CBS 2 studio &amp; helped Meteorologist Megan&hellip;
						//a(class="view btn", href="/laughing/latifah-helps-with-the-weather.html") view
					li
						a(href="/laughing/hot-time-in-chicago.html")
							img(class="pull-left", src="/images/laughing/sm/chicago.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Hot Time in Chicago!
							p On the road this summer, heading to Chicago to soak in the sights, sounds and smells of the City&hellip;
							//a(class="view btn", href="/laughing/hot-time-in-chicago.html") view
					li
						a(href="/laughing/go-behind-the-scenes.html")
							img(class="pull-left", src="/images/laughing/sm/scenes.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Behind the scenes
							p She shares photos from the set, backstage and more!&hellip;
							//a(class="view btn", href="/laughing/go-behind-the-scenes.html") view

		div.row
			div.col12
				p.copy
					| If you think your big fat closet of style only exists for people who are dripping in dough, think again! It's time to realize that you are a smart, savvy shopper, who holds the key to looking like a million bucks but not wasting all of your hard-earned coin. A budget isn't a burden, so you must think of it as a blessing. That may sound ridiculous, BUT being on a budget forces you to make selective, smart decisions on the quality vs. quantity of your purchases. Here are a few polished shopping principles for how to buy a million-dollar style on pennies.
		div.row
			script.
				var tag = document.createElement('script');
				tag.src = "https://www.youtube.com/iframe_api";
				var firstScriptTag = document.getElementsByTagName('script')[0];
				firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
				var player;
				function onYouTubeIframeAPIReady() {
				
					player = new YT.Player('youtubeplayer', {
						height: '504',
						width: '830',
						videoId: 'S38IZph78IM',
						events: {
							'onStateChange': onPlayerStateChange
						}
						});
					}
					
					function onPlayerStateChange(event) {
					if (event.data == YT.PlayerState.PLAYING) {
						mySwipe.stop();
					}else{
						mySwipe.start();
					}
				}
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							div(id="youtubeplayer",style="width:830px;height:504px;")
						div
							img(width=830, src="/images/living/md/2.jpg")
						div
							img(width=830, src="/images/living/md/3.jpg")
						div
							img(width=830, src="/images/living/md/4.jpg")
				h5 1. Shop for What Pops
				p.copy
					| Whether shopping at a department store, thrift store, or online storefront, hit the sale rack! But it's important to gravitate toward items YOU LIKE without swinging through an endless rack of clothes! Now, remember you only have a few bucks to spend so spending it wisely on items that POP off the rack or computer screen will save you time, money, and gas or postage on returns. By picking out clothing, accessories, or shoes that are just as interesting as your personality, those sale rack mountains will be turned into mere mole hills ready for deal-digging!
				h5 2. Heavy Is Luxury
				p.copy
					| When shopping on pennies, this principle holds a lot of weight! Finding certain articles of clothing and accessories that are a little heavier gives off an overall sense of strength and power… even if that price tag reads cheap! So linings in skirts and dresses, tight-beaded or sequined embellishments, and durable fabrics are all luxurious attributes to look for, that can actually be found on sale racks. Many times, you'll get lucky, so make sure you feel, feel, feel for that luxury deal!
				h5 3. Zipfire
				p.copy
					| Finally, there is nothing more million-dollar looking than fit! For an item to fit, it must ZIP! So make sure when you Shop for What Pops, that that heavy-with-luxury item fits like a glove and has Zipfactor, or else that penny purchase will look cheap! When an item fits great, you feel great, and that's priceless!
					span.end Q
		div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(src="/images/laughing/md/photo4.jpg")

