extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/living/md/summerfall_header.jpg", width="465", alt="Transitioning Summer to Fall")
					div(class="bar thumbnails", data-toggle="lightbox" )
						//a(class="thumbnail lightbox-expand pull-right", href="/images/laughing/md/image-1.jpg", title="Image 1", data-description="") lightbox
				h2 Transitioning Summer Pieces into Fall
				p.callout
					| Put your summer threads on double duty by working them into a trendy fall outfit.
				p.byline Article by:
				a.author Staff
			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/laughing/latifah-helps-with-the-weather.html")
							img(class="pull-left", src="http://placehold.it/180x110", width="120", height="70", alt="FPO")
							h3(class="pull-left") How to Buy on a Budget
							p Lorem ipsum &hellip;
						//a(class="view btn", href="/laughing/latifah-helps-with-the-weather.html") view
					li
						a(href="/laughing/hot-time-in-chicago.html")
							img(class="pull-left", src="http://placehold.it/180x110", width="120", height="70", alt="FPO")
							h3(class="pull-left") Look Fly, Be Cool -- All in Time for Back to School!
							p Lorem ipsum &hellip;
							//a(class="view btn", href="/laughing/hot-time-in-chicago.html") view

		div.row
			div.col12
				p.copy
					| Ever wonder how you can get extra mileage out of your summer clothes once the temperatures cool off? My name is Alison and I am the creator of 
					a(href="http://www.nycrecessionista.com/", target="_blank") NYC Recessionista
					| , a bargain shopping and fashion blog. I've always had a love for creatively mixing bargain basement and designer pieces together in the same outfit, but it's equally important to know how to extend the life of your clothes from one season to another.
		div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(width=830, src="/images/living/md/summerfall_carousel/allison-jimenez.jpg")
						div
							img(width=830, src="/images/living/md/summerfall_carousel/fallfashion.jpg")
						div
							img(width=830, src="/images/living/md/summerfall_carousel/greenscarf.jpg")
						div
							img(width=830, src="/images/living/md/summerfall_carousel/ideas.jpg")
						div
							img(width=830, src="/images/living/md/summerfall_carousel/scarves.jpg")
				p.copy
					| The more pieces you have in your closet that can do double duty – meaning you can wear them during both the summer AND the winter, simply by switching up what you wear them with – the more you'll be able to stretch your fashion budget. There's actually a bit of a science behind figuring out which pieces in your closet could potentially do double duty –
				ul
					li Pieces with simple necklines – think crewnecks – are the easiest to layer with.
					li Neutral colors are classic year-round and allow you to play with seasonal pops of color.
					li For dresses and skirts, hemlines that hit just above the knee are best since they’re not too skimpy for the colder months.
					li For pants, look for slim styles that can be tucked into boots come fall.

				p.copy Once you identify some foundation pieces in your wardrobe that fit these criteria, all you need to do is swap out the warm weather accessories for cold weather ones.
				p.copy To give you some great ideas for how to try this at home, I’ve identified five trends that were huge this summer: patterned pants, tank dresses, bold striped tops, dressy shorts, and global jewelry. And I’ll show you exactly how to take them from summer to fall.
				h5 Summer trend: Patterned Pants
				p.copy Patterned pants were all the rage this summer. While you may have worn them with a tank top during the summer months, you can easily take them into fall by pairing them with a sweater in a rich, saturated color. Add over-the-knee boots and a scarf in a complementing shade. To complete the look, add a peter pan collar.
					br
					br
					| Pants: Ann Taylor micro-print 
					a(href="http://rstyle.me/n/bguzzpmme", target="_blank") 'Carnegie' 
					|  cropped pants
					br
					br
					| Sweater: J. Crew merino 
					a(href="http://rstyle.me/n/64qgpmme", target="_blank") 'Tippi'
					|  sweater in heather dockside
					br
					br
					| Boots: Steve Madden 
					a(href="http://rstyle.me/%7EGOhZ", target="_blank") 'Creation' boots 
					br
					br
					| Scarf: J. Crew 
					a(href="http://rstyle.me/%7EGOjV", target="_blank") refined silk-cashmere wrap
					|  in dusty shale
					br
					br
					| Collar: Bauble Bar gold crystal 
					a(href="http://rstyle.me/n/xcjmpmme", target="_blank") mesh collar
				h5 Summer trend: Tank Dresses 
				p.copy Tank dresses are such an easy and effortless piece to throw on in the summertime with a pair of sandals or wedges. When the weather cools off, just layer a long sleeve tee underneath it. Then all you need are tights, ankle boots, and a scarf, and voila - you're done!
				p.copy Tank Dress: Modcloth 
					a(href="http://rstyle.me/n/bguctpmme", target="_blank") 'Mod To Love You'
					| dress 
					br
					br
					| Shoes: Madewell 
					a(href="http://rstyle.me/n/bgufipmme", target="_blank") 'Billy'
					|  boot in suede
					br
					br
					| Tights: Modcloth 
					a(href="http://rstyle.me/n/bguhbpmme", target="_blank") 'Tights For Every Occasion'
					|  in light gray 
					br
					br
					| Scarf: LOFT 
					a(href="http://rstyle.me/n/bgui7pmme", target="_blank") paisley diamond border 
					|  scarf 
					br
					br
					| Tee: J. Crew 
					a(href="http://rstyle.me/%7EGOGG", target="_blank") perfect-fit long sleeve tee 
					|  in heather dusk 
					br
					br
				h5 Summer trend: Bold Striped Tops
				p.copy It's clear that bold stripes aren't going anywhere anytime soon. To give a striped top a fall spin, try throwing a blazer on over it. Pants in a jewel tone will automatically give a normally lightweight, gauzy top more weight. Motorcycle boots and a scarf complete the transition into fall.
					br
					br
					| Shirt: J. Crew Factory 
					a(href="http://rstyle.me/n/78idpmme", target="_blank") artist boatneck 
					|  in mixed stripe
					br
					br
					| Pants: LOFT 
					a(href="http://rstyle.me/n/bgvh7pmme", target="_blank") 'Zoe' 
					|  ankle pant in rustic port
					br
					br
					| Scarf: Forever 21 
					a(href="http://rstyle.me/n/bgvitpmme", target="_blank") technicolor leopard scarf
					br
					br
					| Blazer: Target 
					a(href="http://rstyle.me/n/bgvkhpmme", target="_blank") oxford blazer 
					|  in chambray 
					br
					br
					| Boots: Rebels 
					a(href="http://rstyle.me/%7EGOyT", target="_blank") 'Travis'
					|  boot 
				h5 Summer trend: Dressy Shorts
				p.copy Dressy shorts were everywhere this summer. And what's even cooler, I've seen them pop up in some holiday collection previews as well. These chevron shorts can easily be worn into the fall with opaque tights on underneath them. Add a smart peter pan collared top, simple wedges, and a scarf with a pop of color, and you've got a high impact outfit.
					br
					br
					| Shorts: Ruche 
					a(href="http://rstyle.me/%7EAo0I", target="_blank") 'Summer Saturdays'
					|  chevron shorts 
					br
					br
					| Tee: J. Crew tipped 
					a(href="http://rstyle.me/n/bdaaepmme", target="_blank") silk collar top
					br
					br
					| Tights: Kate Spade New York 
					a(href="http://rstyle.me/%7EGNYl", target="_blank") very opaque tights 
					|  in black 
					br
					br
					| Shoes: Modcloth 
					a(href="http://rstyle.me/n/bgutzpmme", target="_blank") 'Film Noir Fest'
					|  wedges
					br
					br
					| Scarf: Anthropologie 
					a(href="http://rstyle.me/n/bguvvpmme", target="_blank") 'Balneario' 
					|  scarf 
					br
					br
				h5 Summer trend: Global Jewelry
				p.copy If you were wearing major statement jewelry this summer in bold colors and tribal designs, you weren't alone. For fall, try giving these pieces a simple backdrop like a chambray button down. A striped skirt in a deep navy and simple ballet flats don't steal thunder from the necklace. And a flannel baseball cap adds unexpected cool.
					br
					br
					| Necklace: Bauble Bar 
					a(href="http://rstyle.me/n/bdnxepmme", target="_blank") 'Mongol Warrior' 
					|  pendant
					br
					br
					| Shirt: J. Crew 
					a(href="http://rstyle.me/n/3kgfpmme", target="_blank") Factory camp shirt 
					|  in chambray
					br
					br
					| Hat: J. Crew 
					a(href="http://rstyle.me/n/bgukbpmme", target="_blank") colorblock wool baseball cap 
					|  in gray navy 
					br
					br
					| Skirt: LOFT striped 
					a(href="http://rstyle.me/n/bgv5gpmme", target="_blank") compact knit elastic waist skirt
					br
					br
					| Flats: Gap 
					a(href="http://rstyle.me/%7EGOVo", target="_blank") leather ballet flats 
					|  in cognac 
				p.copy As you can see, all it takes is some creative layering and the desire to make your clothes go that extra mile. Hopefully these examples helped you see how truly easy it is to take many of your summer pieces and wear them right through the fall! 
					span.end Q
		div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(src="/images/laughing/md/photo4.jpg")

