extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/living/md/kravitz-design-inc-creates-and-styles-big-sexy_header.jpg", width="465", alt="Kravitz Designs")
					div(class="bar thumbnails", data-toggle="lightbox" )
						//a(class="thumbnail lightbox-expand pull-right", href="/images/laughing/md/image-1.jpg", title="Image 1", data-description="") lightbox
				h2 Kravitz Design Inc. Creates and Styles "Big Sexy"
				p.callout
					| Yes - THAT Kravitz - flexes his designing muscle for The Queen Latifah Show.
				p.byline Article by:
				a.author Staff
			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/laughing/latifah-helps-with-the-weather.html")
							img(class="pull-left", src="http://placehold.it/180x110", width="120", height="70", alt="FPO")
							h3(class="pull-left") Go Behind The Scenes With Queen Latifah
							p Lorem ipsum &hellip;
						//a(class="view btn", href="/laughing/latifah-helps-with-the-weather.html") view
					li
						a(href="/laughing/hot-time-in-chicago.html")
							img(class="pull-left", src="http://placehold.it/180x110", width="120", height="70", alt="FPO")
							h3(class="pull-left") Flick Pick: Lee Daniels' The Butler
							p Lorem ipsum &hellip;
							//a(class="view btn", href="/laughing/hot-time-in-chicago.html") view

		div.row
			div.col12
				p.copy
					| Welcome to the Queendom! Stage 23 on the Sony Studios lot in Culver City, CA has become Queen Latifah's new home away from home. The set has been nicknamed "The Big Sexy" by La' because, in her own words, "It's big and sexy!"
		div.row
			script.
				var tag = document.createElement('script');
				tag.src = "https://www.youtube.com/iframe_api";
				var firstScriptTag = document.getElementsByTagName('script')[0];
				firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
				var player;
				function onYouTubeIframeAPIReady() {
				
					player = new YT.Player('youtubeplayer', {
						height: '504',
						width: '830',
						videoId: 'S38IZph78IM',
						events: {
							'onStateChange': onPlayerStateChange
						}
						});
					}
					
					function onPlayerStateChange(event) {
					if (event.data == YT.PlayerState.PLAYING) {
						mySwipe.stop();
					}else{
						mySwipe.start();
					}
				}
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(width=830, src="/images/living/md/kravitz_carousel/1.jpg")
						div
							img(width=830, src="/images/living/md/kravitz_carousel/2.jpg")
						div
							img(width=830, src="/images/living/md/kravitz_carousel/3.jpg")
						div
							img(width=830, src="/images/living/md/kravitz_carousel/4.jpg")
						div
							img(width=830, src="/images/living/md/kravitz_carousel/5.jpg")
				p.copy
					| And whom does Queen Latifah have to thank for her new Big Sexy set? Musician, actor, artist, and now designer Lenny Kravitz, with his design firm 
					a(href="http://www.kravitzdesign.com/", target="_blank") Kravitz Design Inc.
					| , who created and styled the set for La's new daytime talk show.
				p.copy
					| "It's a thrill to be designing the set for The Queen Latifah Show," says Lenny. "This is the first time Kravitz Design has created an environment for television, which makes it a very exciting project for us. The set reflects Latifah's personality and spirit and will be an inviting, comfortable space for her guests, studio audience and viewers. I never thought of designing for television but, I suppose, growing up in a TV studio watching my mother has come full circle."
				p.copy
					| "Lenny is not only an incredible musician but an incredible designer, and I almost can't believe he is designing the set for my show," says La,. "I can't wait for people to see it."
				p.copy
					| QL Show Executive Producer Jada Pinkett Smith says, "Lenny and his Kravitz Design team are designing a set that exceeds everything we ever thought possible for daytime television. Their creation blew us away!"
					span.end Q
		div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(src="/images/laughing/md/photo4.jpg")

