extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/loving;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/loving;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/loving;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/loving/lg/hollywood-cover-girl.jpg", width="465", height="270", alt="Rihanna FPO")
					div(class="bar thumbnails", data-toggle="lightbox" )
						//a(class="thumbnail lightbox-expand pull-right", href="/images/laughing/md/scenes.jpg", title="Image 1", data-description="") lightbox
				h2 Hollywood Cover Girl
				p.callout
					|Queen Latifah chats with Hollywood Reporter about her new daytime talk show.
				p.byline Article by:
				a.author Staff
			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/loving/mateo-rising.html")
							img(class="pull-left", src="/images/loving/sm/mateo-rising.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Mateo Rising
							p The rise of Mateo - on the verge of becoming a star
						//a(class="view btn", href="/laughing/latifah-helps-with-the-weather.html") view
					li
						a(href="/loving/flick-pick-lee-daniels-the-butler.html")
							img(class="pull-left", src="/images/loving/sm/flick-pick.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Flick Pick: Lee Daniels' The Butler
							p Let us know what you think of Lee Daniels' The Butler.
							//a(class="view btn", href="/loving/flick-pick-lee-daniels-the-butler.html") view
					li
		div.row
			div.col12
				p.copy
					\In a revealing interview, Queen Latifah shares with The Hollywood Reporter her journey to her latest career milestone -- daytime talk show host. "I have to be realistic about what I can and can't do," La' says. "So whatever I do, [it] has to really be worth it. I like to master the things I do. Making this show great, that's my focus right now. I want to bring some positivity to daytime TV."
					br
					br
					"Latifah can do it all: sing, dance, write books, she's a philanthropist, she has all these A-list friends," says her executive producer Corin Nelson. "We're creating a show that will allow her to tap into all those things. On her show, on any given day, she can sing, she can have a really interesting conversation with a celebrity. She's going to go out into the field to bring real people's stories to the audience, but not in a heavy way, in a way that pays it forward. She's really a roll-your-sleeves-up-and-get-involved type."
					span.end Q
		div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(src="/images/loving/lg/hw-cover-girl-slide1.jpg")
						div
							img(src="/images/loving/lg/hw-cover-girl-slide2.jpg")
						div
							img(src="/images/loving/lg/hw-cover-girl-slide3.jpg")
				br
				br
				a(href="http://www.hollywoodreporter.com/gallery/musings-a-queen-inside-queen-600294", target="_blank")
					PHOTOS: The Musings of a Queen: Inside Queen Latifah's Empire
					br
					br
				<object id="flashObj" width="560" height="315" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,47,0"><param name="movie" value="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" /><param name="bgcolor" value="#FFFFFF" /><param name="flashVars" value="videoId=2589774944001&linkBaseURL=http%3A%2F%2Fwww.hollywoodreporter.com%2Fnews%2Fqueen-latifahs-new-talk-show-600262&playerID=1257205077001&playerKey=AQ~~,AAAAAC3bNtw~,c0hgCOyLwy4Lde_FJ6Ombu5W_uQUkX83&domain=embed&dynamicStreaming=true" /><param name="base" value="http://admin.brightcove.com" /><param name="seamlesstabbing" value="false" /><param name="allowFullScreen" value="true" /><param name="swLiveConnect" value="true" /><param name="allowScriptAccess" value="always" /><embed src="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" bgcolor="#FFFFFF" flashVars="videoId=2589774944001&linkBaseURL=http%3A%2F%2Fwww.hollywoodreporter.com%2Fnews%2Fqueen-latifahs-new-talk-show-600262&playerID=1257205077001&playerKey=AQ~~,AAAAAC3bNtw~,c0hgCOyLwy4Lde_FJ6Ombu5W_uQUkX83&domain=embed&dynamicStreaming=true" base="http://admin.brightcove.com" name="flashObj" width="560" height="315" seamlesstabbing="false" type="application/x-shockwave-flash" allowFullScreen="true" allowScriptAccess="always" swLiveConnect="true" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed></object>
				br
				br

//div#preview.col-12
				img(src="/images/articles/article-big.jpg", alt="FPO")
				div(class="bar", data-toggle="lightbox" )
					p.caption
					| <strong>Janelle Monae</strong> - Turning the event stage into the red carpet
					a(class="thumbnail lightbox-expand pull-right", href="/images/articles/article-big.jpg", title="Image 1", data-description="") lightbox

				ul(class="thumbnails", data-toggle="lightbox" )
					li
						a(class="thumbnail", href="/images/laughing/big/5MSP5218_RT.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/20130806_145008.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/GN3A5949.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/GN3A5959.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/IMG_6797.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/IMG_6828.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/IMG_7131.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/J+L-DAY1-12.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/Latifah_show_1173_0640.jpg") *