extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			div#preview.col-12
				a(class="link", href="/loving/hollywood-cover-girl.html")
					img(src="/images/loving/lg/podium.jpg")
				div(class="bar thumbnails", data-toggle="lightbox" )
					p.caption
						| <strong>Hollywood Cover Girl</strong> - Queen Latifah chats with Hollywood Reporter about her new daytime talk show.
					//a(class="thumbnail lightbox-expand pull-right", href="/images/layout/category-big.jpg", title="Image 1", data-description="") lightbox
		div.articles
			div.row
				div.col-6
					img(class="pull-left", src="/images/loving/md/hollywood-cover-girl.jpg", width="180", height="120", alt="Hollywood Cover Girl")
					h3(class="pull-left") HOLLYWOOD COVER GIRL
					p Queen Latifah chats with Hollywood Reporter about her new daytime talk show.
					a(class="view btn", href="/loving/hollywood-cover-girl.html") view
				div.col-6
					img(class="pull-left", src="/images/loving/md/mateo-rising.jpg", width="180", height="120", alt="Mateo Rising")
					h3(class="pull-left") MATEO RISING
					p The rise of Mateo – on the verge of becoming a star.
					a(class="view btn", href="/loving/mateo-rising.html") view
			div.row
				div.col-6
					img(class="pull-left", src="/images/loving/md/flick-pick.jpg", width="180", height="120", alt="Flick Pick: Lee Daniels' The Butler")
					h3(class="pull-left") FLICK PICK: LEE DANIELS' THE BUTLER
					p Let us know what you think of Lee Daniels' The Butler.
					a(class="view btn", href="/loving/flick-pick.html") view
				div.col-6


block modal
	div#img.modal.fade
		div.modal-dialog
			div.modal-content
				div.modal-header
					button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
					div.sharethis
						span.st_facebook_hcount
						span.st_fblike_hcount
						span.st_twitter_hcount
						span.st_pinterest_hcount
						span.st_email_hcount
				div.modal-body
					img(src="/images/category-big.jpg")
				//div.modal-footer
					p video controls