extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/loving;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/loving;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/loving;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/loving/lg/Flick-Pick-Lee-Daniels.jpg", width="465", height="270", alt="Flick Pick - Lee Daniels' The Butler")
					div(class="bar thumbnails", data-toggle="lightbox" )
				h2 Flick Pick - Lee Daniels' The Butler
				p.callout
					|Let us know what you think of Lee Daniels' The Butler.
				p.byline Article by:
				a.author Staff
			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/loving/hollywood-cover-girl.html")
							img(class="pull-left", src="/images/loving/sm/hollywood-cover-girl.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Hollywood Cover Girl
							p Queen Latifah chats with Hollywood Reporter about her new daytime talk show.
					li
						a(href="/loving/mateo-rising.html")
							img(class="pull-left", src="/images/loving/sm/mateo-rising.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Mateo Rising
							p The rise of Mateo - on the verge of becoming a star
					li
		div.row
			div.col12
				p.copy
					Lee Daniels’ The Butler teams up Oscar-nominated director Lee Daniels (Precious) with Emmy-award-winning screenwriter Danny Strong (Game Change) for a remarkable story showcasing the life of Cecil Gaines (Oscar-winner Forest Whitaker), who served eight presidents over three decades as the White House’s head butler and witnessed firsthand dramatic events and social changes that not only affected America during this time, but his own life and family as well.					br
					br
					br
					The film is inspired by Wil Haygood's 2008 Washington Post article, "A Butler Well Served by This Election," and features Robin Williams as Dwight D. Eisenhower, James Marsden as John F. Kennedy, Liev Schreiber as Lyndon B. Johnson, John Cusack as Richard M. Nixon, and Alan Rickman as Ronald Reagan. Oprah Winfrey, Cuba Gooding Jr., Terrence Howard, Jane Fonda, Lenny Kravitz, Melissa Leo, and Vanessa Redgrave also co-star.					span.end Q
					br
					br

		div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(src="/images/loving/lg/fp-daniel-butler-slide1.jpg")
						div
							img(src="/images/loving/lg/fp-daniel-butler-slide2.jpg")
						div
							img(src="/images/loving/lg/fp-daniel-butler-slide3.jpg")
				br
				br
				<iframe width="560" height="315" src="//www.youtube.com/embed/9uBXH_DLxsU" frameborder="0" allowfullscreen=""></iframe>
				br
				br
				br

