extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/loving/lg/hollywood-cover-girl.jpg", width="465", height="270", alt="Rihanna FPO")
					div(class="bar thumbnails", data-toggle="lightbox" )
						//a(class="thumbnail lightbox-expand pull-right", href="/images/loving/lg/hollywood-cover-girl.jpg", title="Image 1", data-description="") lightbox
				h2 Hollywood Cover Girl
				p.callout
					| In a revealing interview, Queen Latifah shares with the Hollywood Reporter her journey to her latest career milestone -- daytime talk show host.
				p.byline Article by:
				a.author Staff
			//-div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/laughing/latifah-helps-with-the-weather.html")
							img(class="pull-left", src="/images/laughing/sm/weather.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") helping with the weather forecast
							p She stopped by the CBS 2 studio &amp; helped Meteorologist Megan&hellip;
						//a(class="view btn", href="/laughing/latifah-helps-with-the-weather.html") view
					li
						a(href="/laughing/hot-time-in-chicago.html")
							img(class="pull-left", src="/images/laughing/sm/chicago.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Hot Time in Chicago!
							p On the road this summer, heading to Chicago to soak in the sights, sounds and smells of the City&hellip;
							//a(class="view btn", href="/laughing/hot-time-in-chicago.html") view
					li
						a(href="/laughing/go-behind-the-scenes.html")
							img(class="pull-left", src="/images/laughing/sm/scenes.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Behind the scenes
							p She shares photos from the set, backstage and more!&hellip;
							//a(class="view btn", href="/laughing/go-behind-the-scenes.html") view
		div.row
			div.col12
				p.copy
					|  "I have to be realistic about what I can and can't do," La' says. "So whatever I do, [it] has to really be worth it. I like to master the things I do. Making this show great, that's my focus right now. I want to bring some positivity to daytime TV."
				p.copy
					| "Latifah can do it all: sing, dance, write books, she's a philanthropist, she has all these A-list friends," says her executive producer Corin Nelson. "We're creating a show that will allow her to tap into all those things. On her show, on any given day, she can sing, she can have a really interesting conversation with a celebrity. She's going to go out into the field to bring real people's stories to the audience, but not in a heavy way, in a way that pays it forward. She's really a roll-your-sleeves-up-and-get-involved type."
					span.end Q
				p.copy
					a(href="http://www.hollywoodreporter.com/gallery/musings-a-queen-inside-queen-600294", target="_blank") PHOTOS: The Musings of a Queen: Inside Queen Latifah's Empire
				p.copy Read more from this interview
					a(href="http://www.hollywoodreporter.com/news/queen-latifahs-new-talk-show-600262", target="_blank") click here

		//-div.row
			div.col-12
				div#slider.swipe
					div.swipe-wrap
						div
							img(src="/images/laughing/md/5MSP5218_RT.jpg")
						div
							img(src="/images/laughing/md/20130806_145008.jpg")
						div
							img(src="/images/laughing/md/GN3A5949.jpg")
						//div
							img(src="/images/laughing/md/GN3A5959.jpg")
						div
							img(src="/images/laughing/md/IMG_6797.jpg")
						div
							img(src="/images/laughing/md/IMG_6828.jpg")
						div
							img(src="/images/laughing/md/J+L-DAY1-12.jpg")
						div
							img(src="/images/laughing/md/Latifah_show_1173_0640.jpg")
						div
							img(src="/images/laughing/md/IMG_7131.jpg")
				br
				br
				br
			//div#preview.col-12
				img(src="/images/articles/article-big.jpg", alt="FPO")
				div(class="bar", data-toggle="lightbox" )
					p.caption
						| <strong>Janelle Monae</strong> - Turning the event stage into the red carpet
					a(class="thumbnail lightbox-expand pull-right", href="/images/articles/article-big.jpg", title="Image 1", data-description="") lightbox

				ul(class="thumbnails", data-toggle="lightbox" )
					li
						a(class="thumbnail", href="/images/laughing/big/5MSP5218_RT.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/20130806_145008.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/GN3A5949.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/GN3A5959.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/IMG_6797.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/IMG_6828.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/IMG_7131.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/J+L-DAY1-12.jpg") *
					li
						a(class="thumbnail", href="/images/laughing/big/Latifah_show_1173_0640.jpg") *