extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/loving;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/loving;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/loving;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->

		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			br
			br
			br
			div.col-7
				div.small.preview
					img(src="/images/loving/lg/Mateo-Rising.jpg", width="465", height="270", alt="Mateo Rising")
					div(class="bar thumbnails", data-toggle="lightbox" )
				h2 Mateo Rising
				p.callout
					|The rise of Mateo - on the verge of becoming a star.
				p.byline Article by:
				a.author Staff
			div.col-5
				h3.suggested You may also like:
				ul.more-articles.list-unstyled
					li
						a(href="/loving/hollywood-cover-girl.html")
							img(class="pull-left", src="/images/loving/sm/hollywood-cover-girl.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Hollywood Cover Girl
							p Queen Latifah chats with Hollywood Reporter about her new daytime talk show.
					li
						a(href="/loving/flick-pick-lee-daniels-the-butler.html")
							img(class="pull-left", src="/images/loving/sm/flick-pick.jpg", width="120", height="70", alt="FPO")
							h3(class="pull-left") Flick Pick: Lee Daniels' The Butler
							p Let us know what you think of Lee Daniels' The Butler.
					li
		div.row
			div.col12
				p.copy
					\If you haven't heard of Mateo before now, don’t feel too bad. He isn’t exactly a household name -- yet. But if he has his way, Mateo will be very famous, very soon. And unlike so many other stars these days, he'll be known for his music and not his off-hours antics.					br
					br
					br
					\Mateo, named Iman Jordan at birth, was born into a musical family in Cincinnati, Ohio. Mateo’s grandfather, Freddy Jordan, was a jazz and session guitarist at the historic King Records, playing for the likes of James Brown, Freddie King, and Charles Brown. His grandmother toured as a singer, working in the northeastern United States and Canada. Mateo was raised playing classical piano and began singing at age five. He then attended Morehouse College as a business and music major, heading to New York City after graduation, where he worked as a strategy consultant. He did that for a year before turning his sights to music full-time. He started writing and recording music during his off hours – which he refers to as his “5-9.” During those early days he also performed live, but soon the call for doing music was too strong, and he moved to Los Angeles to pursue his “5-9” passion full-time.					span.end Q
					br
					br
					\Mateo is the product of the new generation of YouTube-discovered talent. He first gained popularity and recognition after several of his mixtapes garnered over a million views. He created a fan base, and Mateo, the Internet star, was born. But it wasn’t until the Grammy-award-winning producer Kerry “Krucial” Brothers, known for his work with Alicia Keys, Nas and Drake, took notice of the young artist that things really took off for him. The producer began working with Mateo, helping him mold his style. Krucial paired Mateo with Alicia Keys on the track “Say It’s So” from the Love & Stadium II mixtape. She is now one of his biggest supporters.
					br
					br
					\So intrigued were we when we heard of Mateo’s upcoming single release, we decided to chat with him to learn more about his story, his passions, and inspiration.
					br
					br
					b Hello there!
					br
					br
					i Yo.
					br
					br
					b Good to speak with you.
					br
					br
					i You too, man.
					br
					br
					b We are really excited to see your trajectory and everything that you're doing. We’d love to be able to share with your fans, and also with Queen Latifah's audience, just how you are taking all of this in.
					br
					br
					i Man, it's really weird. I mean, it's like one day at a time, you know. There's so many things that go into play that I didn't even know that go into play in getting a record out or getting a single out, so many conference-room shows and meeting- room shows before you even hit a stage. It's interesting, right? I just take it one day at a time. And I've been doing this for a while so I'm kind of used to the grind but this is a grind at a different level, do you know what I mean? So now it's like, okay just continue doing what you've been doing for all these years but it's just at a different level. And it's exciting. It's so exciting. I mean, it's nerve-racking. It's everything in one. It's like every emotion in one coming together at the same time. So it's a pretty crazy experience.
					br
					br
					b Do you have any sort of daily rituals that you do in order to keep yourself focused and remember what it's all about?
					br
					br
					i That's a good question. I mean, it's so funny. Like every day is different. I mean, I think that one of the biggest rituals is just working out. I mean, it's just clearing my head just to work out and just, you know, because there's a lot of stuff at once. You just kind of have to go zone out somewhere sometimes. But actually I really don't have a ritual every day that I like stick to that keeps me kind of focused.
					br
					br
					i I mean, I think that whatever it is that day it might just be rehearsing and practicing and that I think that is actually one of my–that's my kind of safe haven right there–is just to kind of get back to the music, you know. Because there's a lot of other stuff that goes into play when you're dealing with the labels and everybody involved and it's more businessy. But when it comes down to it, you just want to get back to the music, and I think that's the best form of therapy right there.
					br
					br
					b If you were to give some advice to someone who is just starting out or has recorded some music or written some music and is trying to, you know, make a name for themselves, what type of advice would you give them?
					br
					br
					i You know, I get asked this question a lot and I think the main thing that is the most important is like three different things. It's like being really disciplined about what you do. Do you know what I mean? Like if you're going to make music, make music consistently and at the highest quality and keep going. Like don't ever stop. Never think that you can stop. And especially in this game right now, you know, music is consumed so fast through the Internet you have to always create new music. So that's one thing, you really have to stay disciplined and focused on what you're trying to do.
					br
					br
					i And then also, I mean it's the exposure piece. You have to put your stuff online. You have to put your music out there, and especially if you live in a market that's not really huge for music. If you're not living in New York or L.A. or like Miami, where you can just meet people in the industry, you have to make sure you put your music up online so that you can try to get a following organically with fans. That way you can just send people an e-mail…have a link to your music. You got to have it out there; it's the only way that you're going to make it.
					br
					br
					i I think those are the main things: exposure, discipline, and you also just got to believe. And I think Kanye West had a quote in this book that he did and it was, "Would you believe in what you believe in if you're the only one who believed it?" And it's true because like a lot of times we get -- I say this all the time -- you get a thousand no's before you get one yes but you still got to kind of believe in what you're doing regardless of what everyone else is believing around you. And that's the hard part. So that's what you got to do.
					br
					br
					i Wiser words could not have been spoken. And to think that Mateo is only 27 years old. Many people do not realize this until much later in life, if ever.
					br
					br
					b So through all of this who do you look up to and who is sort of your inspiration?
					br
					br
					i Oh, who do I say? Well, my number one inspiration is probably family, it's my mom. You know, I just saw her and she had me, she was a single mom, single parent, going to college, to make a career for herself to support me and give me everything that I ever wanted. So she's my biggest inspiration, of course.
					br
					br
					i But then other people, I mean other people in my family. My grandmothers are both strong women and even one is a singer herself so when I need some advice about certain things I'll give her a call because she used to tour with a band in Canada and in the Northeast back in the day. So she's an inspiration. And then I guess people that I don't know like… the greats like the Donny Hathaway and Stevie Wonder. Those are the people that really inspire me musically, and of course Lauryn Hill and I’m a big Kanye West fan, a huge, huge, huge Coldplay fan. Those are all people that I really feel like they made a name for themselves making really authentic music and I felt like - it was from the heart, it was from the soul and it was real. And I liked their originality. And that's one of things that keeps me going too.
					br
					br
					b So you're working hard. You're a very disciplined young man. You know where you want to go. You know what you want to do. Where do you see yourself in five years?
					br
					br
					i Man, in five years? Hopefully I'll have two or three albums, in of course. And hopefully I've been touring and have spread the word and shared music with everybody I possibly can in all different types of languages. And I think, of course, I mean as an artist hopefully I'll have some Grammys by that point or at least one or two would be great. And most importantly I hope that everybody that's been working on my team like all the staff that's been grinding all this time, all of these years for nothing, for free, are able to kind of do what they've finally wanted to do all their lives
					br
					br
					i Like five years from now hopefully some of the producers in the camp, they can just be like, hey you know what, let's just go–let's eat lobster without feeling guilty about it. Do you know what I mean? Just the small things. Let me get a house. I can go buy a house now or my family can get a house or move around and do whatever they want to do. That's really my dream is that all the people that have been working for me or on behalf of me are able to finally reap the benefits of all their hard work. And that would be the biggest payoff for me for sure.
					br
					br
					b Anything that you are looking forward to this year that you'd like to share with the readers and with your fans out there to look out for?
					br
					br
					i Yes, of course. I mean we've got - I'm super excited about the single “How Good Is Your Love.” It's dropping on August 13 along with an EP that we're kind of putting out. It's kind of like an appetizer to the album. It's called “We've Met Before” and it's got five different songs on it, some of them I really, really love. And I think people will really like. And that comes out August 13, 2013, which happens to be my birthday. It happened not on purpose, which was really cool. It's like a good birthday present.
					br
					br
					i So definitely look out for that and the video that we shot. It's on Vevo now!
					br
					br
					b So, you know, Queen Latifah is coming out with her new show on September 16 that we're all very excited about. Do you have a special message that you want to send to her?
					br
					br
					i Oh, of course, of course. I mean, I grew up watching Queen Latifah from Living Single to just all the movies she's been in and her music. And the one thing about Queen Latifah that I really believe in is that when she touches something, it turns into gold and I do not doubt at all that this show will turn into gold and that it will be a huge success. And I'm always rooting for her and what's she's doing. I think she's an inspiration to a lot of females out there, just a lot of black people period. You can make something happen if you really, really work hard. You can become a huge success at anything you put your mind to because she's done everything, you know, from music to movies to TV to plays, anything you can think of, which is pretty amazing. So much love, much love and much success.
					br
					br
					br
					a(href="https://itunes.apple.com/us/artist/mateo/id4330772", target="_blank")
						\Check out Mateo’s latest EP and the rest of his albums by clicking here.

					br
					br
					br

	//div.row
	//		div.col-12
	//			div#slider.swipe
	//				div.swipe-wrap
	//					div
	//						img(src="/images/loving/lg/mateo-rising-slide1.jpg")
	//					div
	//						img(src="/images/loving/lg/mateo-rising-slide2.jpg")
	//					div
	//						img(src="/images/loving/lg/mateo-rising-slide3.jpg")
	//			br
	//			br
	//			br
