extends layout

block content
	div.myContainer
		div.row
			div.col-12
				h1 The Daily Queue
				h2.text-center Jaden's got swag!
				p.date November 16th, 2013
		div.row
			div.col-12.text-center
				img(src="/images/queue/jaden-placeholder.png", alt="FPO")

				div.sharethis
					span.st_facebook_hcount
					span.st_fblike_hcount
					span.st_twitter_hcount
					span.st_pinterest_hcount
					span.st_email_hcount
		div.row
			h3.fancy Most Recent
			div.col-6
				img(class="pull-left", src="http://placehold.it/180x120", width="180", height="120", alt="FPO")
				h3(class="pull-left") I want her hair!
				p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
				a(class="view btn", href="/queue/1") view
			div.col-6
				img(class="pull-left", src="http://placehold.it/180x120", width="180", height="120", alt="FPO")
				h3(class="pull-left") I want her hair!
				p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
				a(class="view btn", href="/queue/1") view
