extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/queue-daily;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/queue-daily;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/queue-daily;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->
		div.row
			div.col-12
				h1 The Daily Queue
				h2.text-center “I Love Lucy”
				p.date August 16th, 2013

			div.col-12.text-center
				p.callout
					| Back on August 6, 1911, Lucille Ball, an American legendary actress, comedienne and performer was born. She clearly made her mark on the entertainment spectrum with the popular American sitcom “I Love Lucy.” In honor of her birth, here are some fabulous memories of from the show that made her such an iconic celebrity of her time and still today.
			.col-12
				quote “I'd rather regret the things I've done than the things I haven't done.”

				p.copy Ricardo is supposed to say something in Spanish that Lucy is trying to interpret, but instead says his line in English. The gaffe ensues Ricardo to chuckle through as he tries to correct himself and state the line in Spanish. Oh… live television.

			.row
					<iframe width="860" height="501" src="//www.youtube.com/embed/0bViswHmi6E" frameborder="0" allowfullscreen></iframe>

					.row
					p.copy (“I Love Lucy” dvd cover) – With her iconic red curls and dashing blue eyes – she was always an attention grabber.
					img(src="/images/queue/12---I-Love-Lucy-Show.jpg", width="860", alt="I Love Lucy")


				span.thick Interesting Fact:
				p.copy She spent nearly 20 years in motion pictures before she landed the role that made her a household name. (Source: http://www.historybyzim.com/2011/08/lucille-ball/)

				span.thick Theme Song:
				p.copy So, you always heard the instrumental version of this song – but never got the full rendition of the lyrics until this monumental occasion.

					p.songlyrics

					| I love Lucy and she loves me.
					br
					| We're as happy as two can be.
					br
					| Sometimes we quarrel but then
					br
					| How we love making up again.
					br
					br
					| Lucy kisses like no one can.
					br
					| She's my missus and I'm her man,
					br
					| And life is heaven you see,
					br
					| 'Cause I love Lucy, Yes I love Lucy, and Lucy loves me!
					br

				p.copy We hope this little dose of Lucy brightens your day!
			.row
				<iframe width="860" height="501" src="//www.youtube.com/embed/7fn7PKzf5tk" frameborder="0" allowfullscreen></iframe>


			.row
				h3 What do you think?
				p.copy What will we discover in space in another 44 years?



			div.sharethis
					span.st_facebook_hcount
					span.st_fblike_hcount
					span.st_twitter_hcount
					span.st_pinterest_hcount
					span.st_email_hcount
		div.row
			h3.fancy Most Recent
			div.col-6
				img(class="pull-left", src="/images/queue/DailyQueue_8513_01.jpg", width="180", height="120", alt="FPO")
				h3(class="pull-left") Happy Birdthday Niel!!
				p We’re celebrating the birthday of the late, great Neil Armstrong&hellip;
				a(class="view btn", href="happy-birthday-neil-armstrong--five-incredible-images-from-space.html") view
			div.col-6
				img(class="pull-left", src="/images/queue/08.09_dailyq.png", width="180", height="120", alt="Cute Dog")
				h3(class="pull-left") The Five Cutest Animals to Brighten Your Day
				p Guys, enough with grumpy cat. We love seeing cute adorable fuzzy things because we can’t&hellip;
				a(class="view btn", href="/daily-queue/the-five-cutest-animals-to-brighten-your-day.html") view


