extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->
		div.row
			div.col-12
				h1 The Daily Queue
				h2.text-center The Five Cutest Animals to Brighten Your Day
				p.date August 16th, 2013
		div.row
			div.col-12.text-center
				p.callout
					| Guys, enough with grumpy cat. We love seeing cute adorable fuzzy things because we 
					can’t help but smile, not because they reflect our bad mood! To kick off our Daily Queue 
					right, we wanted to share the 5 cutest animal videos ever… in Internet history. Possibly 
					in history. Here we go:
				div.row
					h3 Monkey
					p 
					<iframe width="640" height="360" src="http://www.youtube.com/embed/KbIht83F5mo?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
					
				div.row
					h3 Dog
					p 
					<iframe width="640" height="360" src="http://www.youtube.com/embed/EEo40wliZiw?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
					
				div.row
					h3 Elephant
					p 
					<iframe width="640" height="360" src="http://www.youtube.com/embed/98GzaPrwrfY?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
					
				div.row
					h3 Hedgehog
					p 
					<iframe width="640" height="360" src="http://www.youtube.com/embed/fzmUYWF9LGo?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
					
				div.row
					h3 Kitty
					p 
					<iframe width="640" height="360" src="http://www.youtube.com/embed/LFOeSOQu90E?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
				
				div.row
				h3 What do you think?
				p.copy Do you have a cuter video of your pet? Upload it to Instagram or Vine with the hashtag #DailyQueue!
						
				

				div.sharethis
					span.st_facebook_hcount
					span.st_fblike_hcount
					span.st_twitter_hcount
					span.st_pinterest_hcount
					span.st_email_hcount
		div.row
			h3.fancy Most Recent
			div.col-6
				img(class="pull-left", src="/images/queue/F_F_0102.png", width="180", height="120", alt="FPO")
				h3(class="pull-left") Funny Fake Ads We Wish Were Real
				p Wouldn't it be great if these were real?&hellip;
				a(class="view btn", href="/daily-queue/funny-fake-ads-we-wish-were-real.html") view
			
			div.col-6
				img(class="pull-left", src="/images/queue/DailyQueue_8513_01.jpg", width="180", height="120", alt="FPO")
				h3(class="pull-left") Happy Birdthday Niel!!
				p We’re celebrating the birthday of the late, great Neil Armstrong&hellip;
				a(class="view btn", href="happy-birthday-neil-armstrong--five-incredible-images-from-space.html") view
