extends layout

block content
	div.myContainer
		div.ads.
			<!-- begin ad tag (tile=1) -->
			<script type="text/javascript">
			//<![CDATA[
			var ord=Math.random()*10000000000000000;
			document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/queue-daily;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
			//]]>
			</script>
			<noscript><a href="http://ad.doubleclick.net/jump/queen.opus/queue-daily;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/queue-daily;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
			<!-- end ad tag -->
		.row
			div.col-12
				h1 The Daily Queue
				h2.text-center Throw Back Thursday – Old TV Shows We Still Love Today!
				p.date August 16th, 2013
				p.callout
					| Here are 5 great old TV shows we still love today!:
			.col-12
			.row
				h3 1
				<iframe width="860" height="501" src="//www.youtube.com/embed/ac1OvqiZmh0" frameborder="0" allowfullscreen></iframe>
			.row
				h3 2
				<iframe width="860" height="501" src="//www.youtube.com/embed/IcDHeld5u0c" frameborder="0" allowfullscreen></iframe>
			.row
				h3 3
				<iframe width="860" height="501" src="//www.youtube.com/embed/LfG8h7G8lQY" frameborder="0" allowfullscreen></iframe>
			.row
				h3 4
				<iframe width="860" height="501" src="//www.youtube.com/embed/evqZQ6TTqTw" frameborder="0" allowfullscreen></iframe>
			.row
				h3 4
				<iframe width="860" height="501" src="//www.youtube.com/embed/5bHh8VAb_BQ" frameborder="0" allowfullscreen></iframe>

			.row
				h3 What do you think?
				p.copy Which one is the one you miss the most?



			div.sharethis
					span.st_facebook_hcount
					span.st_fblike_hcount
					span.st_twitter_hcount
					span.st_pinterest_hcount
					span.st_email_hcount
		div.row
			h3.fancy Most Recent
			div.col-6
				img(class="pull-left", src="/images/queue/12---I-Love-Lucy-Show.jpg", width="180", height="120", alt="FPO")
				h3(class="pull-left") I Love Lucy!
				p I'd rather regret the things I've done than the things I haven't done&hellip;
				a(class="view btn", href="/daily-queue/i-love-lucy.html") view
			div.col-6
				img(class="pull-left", src="/images/queue/DailyQueue_8513_01.jpg", width="180", height="120", alt="FPO")
				h3(class="pull-left") Wonderous Waterfalls Around the World
				p Nothing is more breathtaking than taking some time out of your life&hellip;
				a(class="view btn", href="/daily-queue/wonderous-waterfalls-around-the-world.html") view



