extends layout

block content
	div.myContainer
		div.sharethis.pull-right
			span.st_facebook_hcount
			span.st_fblike_hcount
			span.st_twitter_hcount
			span.st_pinterest_hcount
			span.st_email_hcount
		div.row
			div.col-12
				h1 The Daily Queue
				h2.text-center Jaden's got swag!
				p.date November 16th, 2013
		div.row
			div#preview.col-12
				img(src="/images/queue-jaden.jpg")
				div.bar
					p.caption
						| <strong>New Today</strong> - Check out some of the best pieces from Jaden’s wardrobe
					a(href="#", class="lightbox-expand pull-right") lightbox
		div.articles
			div.row
				div.col-6
					img(class="pull-left", src="http://placehold.it/180x120", width="180", height="120", alt="FPO")
					h3(class="pull-left") Aug 8, 2013
					p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
					a(class="view btn", href="/queue/1") view
				div.col-6
					img(class="pull-left", src="http://placehold.it/180x120", width="180", height="120", alt="FPO")
					h3(class="pull-left") Aug 8, 2013
					p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
					a(class="view btn", href="/queue/1") view
			div.row
				div.col-6
					img(class="pull-left", src="http://placehold.it/180x120", width="180", height="120", alt="FPO")
					h3(class="pull-left") Aug 8, 2013
					p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
					a(class="view btn", href="/queue/1") view
				div.col-6
					img(class="pull-left", src="http://placehold.it/180x120", width="180", height="120", alt="FPO")
					h3(class="pull-left") Aug 8, 2013
					p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
					a(class="view btn", href="/queue/1") view
			div.row
				div.col-6
					img(class="pull-left", src="http://placehold.it/180x120", width="180", height="120", alt="FPO")
					h3(class="pull-left") Aug 8, 2013
					p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
					a(class="view btn", href="/queue/1") view
				div.col-6
					img(class="pull-left", src="http://placehold.it/180x120", width="180", height="120", alt="FPO")
					h3(class="pull-left") Aug 8, 2013
					p all thats going on in the vibrant culinary world of the lorem ipsum dolor sit amet&hellip;
					a(class="view btn", href="/queue/1") view