body {
    margin: 0;
    padding: 0;
}

.nav li a, .cta .text, a.logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto
}

.left-dock {
    height: 100%;
    width: 150px;
    /*border: 1px solid #000;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    /*background: #e8e7e3;*/

}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    /*border: 1px solid #000;*/
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}

.right-dock {
    width: 225px;
    height: 100%;
    /*border: 1px solid #000;*/
    position: absolute;
    top: 0;
    right: 0;
    background: #c2d9d0;
    z-index: 10;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}

.nav li a {
    position: relative;
    display: block;
    width: 150px;
    height: 42px;
    /*border: 1px solid #000;*/
    line-height: 42px;
    font-family: 'Open Sans Bold', sans-serif;
    background: #e0b66a;
    color: #fff;
    letter-spacing: 1pt;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
}

body.living .nav li.living a,
body.loving .nav li.loving a,
body.learning .nav li.learning a,
body.laughing .nav li.laughing a,
body.latifah .nav li.latifah a {
    width: 170px;
    padding-left: 40px;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Opera */
    background-image: -o-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e18367), color-stop(1, #aa634e));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to right, #e18367 0%, #aa634e 100%);
}

.nav .living a, .nav .latifah a{
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(left, #e0b66a 0%, #b39359 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #e0b66a 0%, #b39359 100%);

    /* Opera */
    background-image: -o-linear-gradient(left, #e0b66a 0%, #b39359 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e0b66a), color-stop(1, #b39359));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #e0b66a 0%, #b39359 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to right, #e0b66a 0%, #b39359 100%);
}
.nav .learning a{
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(left, #b39359 0%, #e0b66a 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #b39359 0%, #e0b66a 100%);

    /* Opera */
    background-image: -o-linear-gradient(left, #b39359 0%, #e0b66a 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #b39359), color-stop(1, #e0b66a));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #b39359 0%, #e0b66a 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to right, #b39359 0%, #e0b66a 100%);
}
.nav a:hover{
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Opera */
    background-image: -o-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e18367), color-stop(1, #aa634e));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to right, #e18367 0%, #aa634e 100%);
}
.nav li a:hover {
    width: 170px;
    padding-left: 40px;
}
.nav li a:hover img {
    margin-left: -40px;
}
.nav .icon {
    margin-top: -2px;
    margin-right: 5px;
}
.nav .arrow {
    position: absolute;
    right: 5px;
    top: 14px;
}
.filter {
    width: 100%;
    background: #b8c9be;
    height: 34px;
    position: fixed;
    z-index: 10;
    margin-left: 150px;
    top: 0px;
}

#tiles {
    position: relative;
    z-index: -1;
    top: 100%;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;

}

.tile.t1, .tile.t7 {
    width: 292px;
    overflow: hidden;
}

.tile.t2 {
    width: 348px;
    overflow: hidden;
}

.tile.t3, .tile.t9, .tile.t6 {
    width: 225px;
    overflow: hidden;
}

.tile.t4, .tile.t10, .tile.t8 {
    width: 165px;
    overflow: hidden;
}

.tile.t5, .tile.t11 {
    width: 183px;
    overflow: hidden;
}

.cta {
    position: relative;
}

.cta h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.cta .text {
    background: #ffe1ac;
    width: 100%;
    height: 98px;
    opacity: .9;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Glegoo', "Times New Roman";
    padding: 15px;
    font-size: 15px;

}

.weather {
    margin-top: 20px;
}

.daily {
    background: url(/images/doobie.png);
    width: 226px;
    height: 41px;
    font-family: 'Glegoo', "Times New Roman";
    font-size: 13px;
}

.daily a {
    text-decoration: none;
    width: 50%;
    text-align: center;
    display: block;
    float: left;
    color: #222;
    margin:10px 0
}


#myswipe {
    position: absolute;
    top:0;
    left: 0;
}
#mySwipe, #mySwipe div {
    width: 100%;
    height: 100%;
}

body.home .content, body.living .content {
    left: 0;
    width: 100%!important;
    margin-left: 0;
}

body.home .filter {
    display: none;
}

body.latifah .content {
    display: block;
    left: 150px;
}
body.latifah .content img.page {
    width: 100%;
    margin-top: 34px;
}
body.latifah .filter {
    margin-left: 0;
}
a.logo {
    width:150px;
    height:138px;
    display: block;
    text-align: center;
    padding-top: 30px
}
body.living .content img {
    display: block;

}
body.living {
    background: #d9d7d6;

}
body.living img.page {
    display: block;
    margin: 34px auto
}

.socialbar {
    position: absolute;
    top: 0;
    right: 370px;
}

#topadunit {
    /* fallback */
    background-color: #202020;
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat;

    /* Safari 4-5, Chrome 1-9 */
    /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#60452e), to(#202020));

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #60452e, #202020);

    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #60452e, #202020);

    /* IE 10 */
    background: -ms-radial-gradient(circle, #60452e, #202020);
    height:90px;
    width: 100%;
}

#topadunit img {
    display: block;
    margin: 0 auto
}

.wrapper {
}