* { /*req'd for sticky footer*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} html,
body {
  height: 100%; /*req'd for sticky footer*/
  /* The html and body elements cannot have any padding or margin. */
}

body {
  min-width: 960px;
  background: #d9d7d6;
}

#topadunit {
    /* fallback */
    background-color: #202020;
    background-image: url(/images/radial_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;

    /* Safari 4-5, Chrome 1-9 */
    /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#60452e), to(#202020));

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #60452e, #202020);

    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #60452e, #202020);

    /* IE 10 */
    background: -ms-radial-gradient(circle, #60452e, #202020);
    height:90px;
    width: 100%;
    } #topadunit img {
        display: block;
        margin: 0 auto
} .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto
} .left-dock {
    height: 100%;
    width: 150px;
    /*border: 1px solid #000;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    /*background: #e8e7e3;*/
} .left-dock .logo {
    padding-top: 30px;
    display: block;
}

.content {
    width: 100%;
    /*max-width: 1200px;*/
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    /*border: 1px solid #000;*/
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
} .right-dock {
    width: 300px;
    height: 100%;
    /*border: 1px solid #000;*/
    position: absolute;
    top: 0;
    right: 0;
    background: #c2d9d0;
    z-index: 10;
}



.nav li a {
    position: relative;
    display: block;
    width: 150px;
    height: 42px;
    /*border: 1px solid #000;*/
    line-height: 42px;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 16px;
    background: #e0b66a;
    color: #fff;
    letter-spacing: 1pt;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
} .nav li a, .internalcta .text, a.logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}












.myContainer {
    width: 860px;
    margin: 0 auto;
    /*background: #f00;*/
}

.sharethis {
    padding: 14px;
    height: 50px;
}

.sharethis .stMainServices {
    height: 23px !important;
}


#preview {
    height: 504px;
    margin-bottom: 60px;
}

#preview .bar {
    height: 43px;
    background: #fff;
    opacity:0.9;
filter:alpha(opacity=90);
position: absolute;
bottom: 0;
width: 865px;

}

#preview .caption {

padding: 12px;

margin: 0;
text-align: center;
font-family: 'Glegoo', "Times New Roman";
font-size: 15px;
}

#preview .caption strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

#preview .bar .lightbox-expand {
    width: 43px;
height: 43px;
display: block;
background: url(/images/lightbox-expand@2x.png);
background-size:43px 43px;
text-indent: -9999em;
position: absolute;
top: 0;
right: 0;
margin: 0
}

.articles {
    color: #5a4040;
}

.articles img {
    margin-right: 16px;
    margin-bottom: 16px;
}

.articles .col-6 img + h3 {
    font-size: 14px;
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
width: 210px;
margin: 0 0 9px;
font-weight: bold;

}

.articles .col-6 p {
    font-family: 'Glegoo', "Times New Roman";
}

.articles a.view {
    background: #a1b3ae;
    color: #fff;
    padding: 3px 12px;
    text-transform: uppercase;
}

.articles a.view:hover {
    text-decoration: none;
}



.queue h1{
    width: 409px;
height: 74px;
margin: 0 auto;
background: url(/images/the-daily-queue.png);
text-indent: -9999em;
margin-top: 40px;
}
.queue h2 {
    font-family: 'Glegoo', "Times New Roman";
font-size: 24px;
color: #747474;
}
p.date {
font-family: 'Open Sans', sans-serif;
    font-size: 10px;
  display: table;
  white-space: nowrap;
  text-align: center;
  margin: 6px auto 16px;
  color: #a8a8a8;
}
p.date:before, p.date:after {
  content: "";
  display: table-cell;
  width: 40%;
  background: -webkit-linear-gradient(#a8a8a8, #a8a8a8) repeat-x left center;
  background: linear-gradient(#a8a8a8, #a8a8a8) repeat-x left center;
  background-size: 1px 1px;
}














body.living .nav li.living a,
body.loving .nav li.loving a,
body.learning .nav li.learning a,
body.laughing .nav li.laughing a,
body.latifah .nav li.latifah a {
    width: 170px;
    padding-left: 40px;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Opera */
    background-image: -o-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e18367), color-stop(1, #aa634e));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to right, #e18367 0%, #aa634e 100%);
}

.nav .living a, .nav .latifah a{
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(left, #e0b66a 0%, #b39359 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #e0b66a 0%, #b39359 100%);

    /* Opera */
    background-image: -o-linear-gradient(left, #e0b66a 0%, #b39359 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e0b66a), color-stop(1, #b39359));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #e0b66a 0%, #b39359 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to right, #e0b66a 0%, #b39359 100%);
}
.nav .learning a{
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(left, #b39359 0%, #e0b66a 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #b39359 0%, #e0b66a 100%);

    /* Opera */
    background-image: -o-linear-gradient(left, #b39359 0%, #e0b66a 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #b39359), color-stop(1, #e0b66a));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #b39359 0%, #e0b66a 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to right, #b39359 0%, #e0b66a 100%);
}
.nav a:hover{
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Opera */
    background-image: -o-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e18367), color-stop(1, #aa634e));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #e18367 0%, #aa634e 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to right, #e18367 0%, #aa634e 100%);
}
.nav li a:hover {
    width: 170px;
    padding-left: 40px;
}
.nav li a:hover img {
    margin-left: -40px;
}
.nav .icon {
    margin-top: -2px;
    margin-right: 5px;
}
.nav .arrow {
    position: absolute;
    right: 5px;
    top: 14px;
}
.filter {
    width: 100%;
    background: #b8c9be;
    height: 34px;
    position: fixed;
    z-index: 10;
    margin-left: 150px;
    top: 0px;
}

#tiles {
    position: relative;
    z-index: -1;
    top: 100%;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;

}

.tile.t1, .tile.t7 {
    width: 292px;
    overflow: hidden;
}

.tile.t2 {
    width: 348px;
    overflow: hidden;
}

.tile.t3, .tile.t9, .tile.t6 {
    width: 225px;
    overflow: hidden;
}

.tile.t4, .tile.t10, .tile.t8 {
    width: 165px;
    overflow: hidden;
}

.tile.t5, .tile.t11 {
    width: 183px;
    overflow: hidden;
}

.internalcta {
    position: relative;
    border-bottom: 1px solid #a0a7a5;

}

.internalcta h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 0 15px;
    font-weight: bold;
}

.internalcta .text {
    background: #ffe1ac;
    width: 100%;
    height: 98px;
    opacity: .9;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Glegoo', "Times New Roman";
    padding: 15px;
    font-size: 15px;

}

.weather {
    margin-top: 20px;
}


.daily a {
    text-decoration: none;
    width: 149px;
    height: 47px;
    text-align: center;
    display: block;
    float: left;
    color: #3a3a3a;
    font-family: 'Glegoo', "Times New Roman";
    font-size: 14px;
    line-height: 47px;
    text-transform: uppercase;
    border-bottom: 1px solid #a0a7a5;

}




.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    /*width:100%;*/
    height: 100%;
    position: relative;
}

.swipe .info-bg {
    background: url('/images/bokeh.png') center bottom no-repeat;
    background-size: 100%;
    position: relative;
    height: 100%;

}

.swipe .info {
    position: absolute;
    bottom: 5%;
    left:50%;
    margin-left: -333px; /*-233px*/
    /*margin: 0 auto;*/
    width: 500px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
.swipe .info h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 1.2em;
    margin: 0;
}
.swipe .info hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.swipe .info p {
    font-family: 'Glegoo', "Times New Roman";
    font-weight: bold;
    font-size: 14px;
}




.watch-video {
    display: block;
width: 140px;
height: 50px;
background: url('/images/watch-video.png') no-repeat;
text-indent: -9999em;
margin: 0 auto;
}

#myswipe {
    position: absolute;
    top:0;
    left: 0;
}
#mySwipe, #mySwipe > div {
    /*width: 100%;*/
    height: 100%;
}





body.home .content, body.living .content {
    left: 0;
    width: 100%!important;
    margin-left: 0;
}

body.home .filter {
    display: none;
}

body.latifah .content {
    display: block;
    left: 150px;
}
body.latifah .content img.page {
    width: 100%;
    margin-top: 34px;
}
body.latifah .filter {
    margin-left: 0;
}
body.living .content img {
    display: block;

}

body.living img.page {
    display: block;
    margin: 34px auto
}





.socialbar {
    position: absolute;
    top: 0;
    right: 370px;
}



.home .left-dock {
    width: 180px
}

.home a.logo {
    width:180px;
    height:167px;
    display: block;
    text-align: center;
}
.home .nav li a {
    width: 180px;
    height: 51px;
    font-size: 18px;
    line-height: 51px;
}

.home .nav .arrow {
    top: 19px;
    right: 8px;
}

.home .nav .icon {
    margin-right: 11px;
}

.home .nav .loving a, .home .nav .laughing a{
    width: 193px;
}

.home .nav .learning a {
    width: 206px;
}
.home .nav:hover li a {
    width: 180px;
}
.home .nav:hover li a:hover {
    width: 206px;
    padding-left: 0px;

}
.home .nav li a:hover img {
    margin-left: 0px;
}

.home .social {
    background: #c8d3d0;
}

.social {
    height: 52px;
    border-bottom: 1px solid #a0a7a5;
    overflow: hidden;
}

.social ul {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

.social ul li {
    float: left;
    line-height: 52px;
    margin: 0 20px
}

.daily .dose {
    background: url(/images/daily-dose_bg.png);
    border-right: 1px solid #a0a7a5;

}

.daily .join {
    background: url(/images/join_bg.png);
}

ul.watch-widget {
    padding: 0;
    margin: 10px 0 0;
    list-style: none;

}



.living .content .filter {
    display: none;
}

















